[2017-03-17 14:55] loiluu opened #1 "Handle all opcodes"
_From @loiluu on September 21, 2016 4:58_

At the moment, Oyente does not support a large fraction of existing EVM opcodes, but not all of them. Please check the main file `symExec.py` to see which opcodes are supported at the moment.

_Copied from original issue: ethereum/oyente#1_

[2017-03-17 14:55] loiluu commented on #1
_From @inian on March 12, 2017 6:37_

Opcodes left to be handled

- [ ] SDIV
- [ ] BYTE
- [ ] EXTCODESIZE
- [ ] EXTCODECOPY
- [ ] PC
- [ ] CREATE
- [ ] DELEGATECALL
- [ ] INVALID

Opcodes which aren't 100% spec compliant

- [ ] SMOD
- [ ] SLT
- [ ] SGT
- [ ] CALLDATACOPY
- [ ] CODECOPY

[2017-03-17 14:55] loiluu commented on #1
We also need to track the gas usage in the symbolic execution.

[2017-03-17 14:55] loiluu opened #2 "Handle loop better"
_From @loiluu on September 21, 2016 4:59_

At the moment, Oyente terminates a path when seeing a loop, and proceeds to other ones. In other words, our SE only explores an under-approximation of all the program symbolic paths.

It might be useful to note that there is a technical challenge regarding loops: statically analysing bytecode will result in unbounded loops. E.g. Array copy from data input

[2017-03-17 14:56] loiluu opened #3 "Integrate with the state of the Ethereum's blockchain"
_From @loiluu on September 21, 2016 5:4_

One way to improve the performance of the symbolic execution is to consider the existing blockchain state in the execution environment. For example, if a contract calls a function
`
a = contractB.getSomeData()
`
we can fetch the blockchain state to see what the value that `contractB.getSomeData()` would return and assign the value to `a`, instead of using

[2017-03-17 14:56] loiluu opened #4 "Testing our evm intepreter"
_From @loiluu on September 24, 2016 3:29_

There are existing tests built for evm virtual machines https://github.com/ethereum/tests/tree/develop/VMTests
We may use these tests to test the correctness of our vm implementation.

_Copied from original issue: ethereum/oyente#4_

[2017-03-17 14:56] loiluu commented on #4
Currently, the basic logic for testing EVM interpreter already exists. Function `compare_stack_unit_test` in symExec.py is triggered when a program path is terminated (Line 474) and the flag UNIT_TEST is set. This is because normally a unit test's code has only one branch and is meant to check only one opcode. What do we want to check in our evm interpreter:

- The stack implementation (how many i

[2017-03-17 14:56] loiluu opened #5 "Division by zero"
_From @pirapira on September 26, 2016 11:18_

In the [yellow paper](http://gavwood.com/paper.pdf), `DIV` and `SDIV` instructions return zero when the divisor is zero.  Is this also the case in oyente?

_Copied from original issue: ethereum/oyente#5_

[2017-03-17 14:56] loiluu commented on #5
_From @hrishioa on October 4, 2016 2:57_

`SDIV` has not been implemented, and `DIV` does not have this behavior. Marked as a bug.

[2017-03-17 14:56] loiluu opened #6 "Update README.md"
_From @turbosnail9 on October 3, 2016 20:10_

Fix typo in line 22 from "Thorem" to "Theorem"

_Copied from original issue: ethereum/oyente/pull/6_

[2017-03-17 14:57] loiluu opened #7 "Dockerfile and upgrade"
_From @chatch on February 6, 2017 6:1_

Can you add the Dockerfile for https://hub.docker.com/r/hrishioa/oyente/ to the repo?  Link it on docker hub too if possible.

I'd like to make some changes to it.

_Copied from original issue: ethereum/oyente#7_

[2017-03-17 14:57] loiluu commented on #7
_From @hrishioa on February 7, 2017 1:50_

Added Dockerfile to root of repo. This is a functional dockerfile as of now, some modifications were made (disasm is no longer available from the ethereum PPA, needs to be compiled manually) which may deviate from the image currently on Docker Hub.

[2017-03-17 14:57] loiluu opened #8 "Add more performance options"
_From @loiluu on March 6, 2017 4:50_

Add several options like:

- [ ] Limit Memory Space
- [x] DFS depth limit
- [x] Gas-limit constraint
- [x] Hard limit for loops

_Copied from original issue: ethereum/oyente#8_

[2017-03-17 14:57] loiluu opened #9 "Refactor and optimize codebase"
_From @loiluu on March 10, 2017 8:53_

Currently, the codebase is very messy, hard to follow. It also lacks documentation.

_Copied from original issue: ethereum/oyente#9_

[2017-03-17 14:59] #6 closed

[2017-03-17 14:59] #7 closed

[2017-03-17 15:00] loiluu opened #10 "Support ERC20 token contracts"
_From @loiluu on March 13, 2017 6:56_

Expand the transaction-ordering-dependence analysis to ERC20 token contracts to track the flow of tokens.

_Copied from original issue: ethereum/oyente#15_

[2017-03-18 07:16] loiluu commented on #5
Solved in PR #11

[2017-03-18 07:16] #5 closed

[2017-03-19 01:25] luongnt95 opened #16 "Opcodes failed"
Failed bitwise logic operation testcases: ['sgt3', 'lt1', 'slt2', 'not5', 'not1', 'not0', 'gt0']
=> Opcodes failed: SGT, LT, SLT, NOT, GT

[2017-03-19 01:37] loiluu commented on #16
CC @inian. The test cases can be found in the json files within the tests folder.

[2017-03-19 02:02] loiluu commented on #16
Hang on this first @inian. I think @luongnt95 just realized that some of the tests are actually false :)

[2017-03-21 02:45] luongnt95 opened #19 "Opcodes don't handle int and long values to test"
BLOCKHASH, COINBASE, TIMESTAMP, NUMBER, CALLDATALOAD, ....

[2017-03-21 02:49] luongnt95 opened #20 "Opcode NOT operation is confused"
I don't know what is the correct formula to operate this opcode:
~x or 2**256 - 1 - x where x = stack.pop(0)

[2017-03-21 03:04] luongnt95 opened #21 "Opcode SLOAD doesn't handle enough case"
What happens if this condition occurs?
if isinstance(address, (int, long)) and address not in  global_state["Ia"]

[2017-03-21 03:21] luongnt95 opened #22 "Opcode PUSH need to behave differently in range 1->32"
This is the code snippet that handle PUSH which behaves the same for all type of PUSH from PUSH1 -> PUSH32:
    elif instr_parts[0].startswith('PUSH', 0):  # this is a push instruction
        pushed_value = int(instr_parts[1], 16)
        stack.insert(0, pushed_value)

[2017-03-21 11:04] loiluu commented on #20
Can you please check this @inian?

[2017-03-21 15:05] inian commented on #20
Hey, so I think -1 - x is used when x is not a symbolic expression and ~ x is used when x is a symbolic expression where ~ is the z3 bvnot

[2017-03-21 15:13] inian commented on #21
From [this page ](https://github.com/ethereum/wiki/wiki/Ethereum-Development-Tutorial), it looks like if there is nothing at that address, it should return 0.

[2017-03-22 00:46] inian commented on #22
I think the disassembler takes care of this. It reads the correct number of bytes and gives it as argument.

1145   PUSH2  => 0002
...
1155   PUSH1  => 00

Once the correct number of bytes are read, the semantics of push1 to push 32 appear to be the same.

[2017-03-22 01:53] loiluu commented on #22
Makes sense, so its not a bug then?
@luongnt95  can double check?

[2017-03-22 03:49] inian commented on #22
Yup, I think not a bug. Please do double check though @luongnt95

[2017-03-22 10:04] #22 closed

[2017-03-22 10:14] luongnt95 commented on #20
[](https://wiki.python.org/moin/BitwiseOperators) python has built-in ~ operator for a real value. In the link, ~ equals to (-x-1) not (-1-x). Anyway, in some test cases I tried ~x the result is correct but some I tried
(2**256 - 1) - x is correct while ~x is incorrect. What do you think about this @inian ?

[2017-03-22 10:17] luongnt95 commented on #21
Yes, I agree. So the fix should be a pull request.

[2017-03-22 15:16] inian commented on #20
Hey just realised that the entire code can just be simplified to
[code]

can you give me an example where ~x is incorrect? I will also check

[2017-03-22 15:59] luongnt95 commented on #20
"code" : "0x600019600055" which is converted to opcodes:
[1] PUSH1 0x00
[2] NOT
[4] PUSH1 0x00
[5] SSTORE
And the result should be:
"0x00" : "0xffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff"

The number we care about here is 0xffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff which is the result of:
[1] PUSH1 0x00
[2] NOT
This is the test case not0 in vmBitwiseLog

[2017-03-22 17:21] #20 closed

[2017-03-23 02:33] inian commented on #20
@luongnt95 can u verify if this is fixed?

[2017-03-23 04:26] luongnt95 opened #25 "Opcode BYTE doesn't work correctly"
The test case "byte10" in "vmBitwiseLogicOperationTest.json":
[8] PUSH8 0x8040201008040201
[41] PUSH32 0xffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
[42] BYTE
[44] PUSH1 0x00
[45] SSTORE
raise exception: ERROR:root:long int too large to convert to int
Traceback (most recent call last):
  File "symExec.py", line 127, in main
    build_cfg_and_analyze()
  File "symExec.py", line

[2017-03-23 07:00] inian commented on #25
@luongnt95 can you check if this has been fixed after https://github.com/melonproject/oyente/pull/26 is merged?

[2017-03-23 07:59] luongnt95 commented on #25
@inian It was merged but it still raises exception in test case "byte10". I have to check that :)))

[2017-03-23 08:07] luongnt95 commented on #25
@inian I fixed it

[2017-03-23 08:07] #25 closed

[2017-03-23 10:18] inian commented on #25
Ohh I missed that test case..thanks for catching that @luongnt95!

[2017-03-23 10:20] #16 closed

[2017-03-23 14:48] loiluu commented on #2
A simple fix for this is to track how much gas has been spent and let the execution goes until the gas exceeds the [gas_limit](http://bitcoin.stackexchange.com/questions/39132/what-is-gas-limit-in-ethereum).

[2017-03-23 14:55] inian commented on #2
Makes sense..We need to track the gas usage through the SE before we solve this issue then

[2017-03-25 06:48] inian opened #33 "Running benchmark gives ValueError"
Running batch_run.py gives this error in a lot of cases. Is this a regression?

[code]

[2017-03-25 08:20] inian commented on #33
confirmed to be a regression

[2017-03-25 09:03] luongnt95 commented on #33
I have to check that

[2017-03-25 09:03] #21 closed

[2017-03-25 09:07] luongnt95 commented on #33
You need to set UNIT_TEST = 0 to skip the storage test because the test can't work with opcodes that doesn't handle real values

[2017-03-31 08:20] loiluu commented on #33
@inian can you please update the status of this issue?

[2017-03-31 08:21] loiluu commented on #19
@inian @luongnt95 please update the status of this issue?

[2017-04-01 10:14] inian opened #42 "Doesnt work with the latest ethereum-go"
disasm binary has been removed with the latest version

[2017-04-01 10:54] loiluu commented on #42
Its now in the evm tool. When you install go-ethereum, you can invoke
disasm by running 'evm disasm'
On Sat, 1 Apr 2017 at 6:52 PM, Inian <notifications@github.com> wrote:

--

Thanks,
Loi Luu

[2017-04-01 10:58] inian commented on #42
Yup saw :\ spent so much time on this..anyway [this](https://github.com/ethereum/go-ethereum/pull/3729) commit has not made to a stable release yet..so will close this issue for now..

[2017-04-01 10:58] #42 closed

[2017-04-01 10:59] inian opened #43 "Need to document version of go-ethereum used"
I see the format that disasm outputs has changed a bit. Our regex might need to be updated. And with the next version of go-ethereum (1.6.0), disasm has been merged into evm

[2017-04-01 11:12] #43 closed

[2017-04-02 03:00] joeykrug opened #44 "The DAO[v1.0] Passes With Flying colors"
I love the idea of a tool like this.  Great to see it being worked on and would love to use it for Augur.

When testing with The DAO's original bytecode [pulled from [dao github](https://github.com/slockit/DAO/wiki/The-DAO-v1.0-Code)] however it doesn't throw any errors whatsoever.

[code]

[2017-04-02 03:26] loiluu commented on #44
Thanks Joseph for reporting the issue. The tool is still under heavy
development so bugs are expected. Can you please provide more details on
how did you run it? Did you run it from our docker or you downloaded the
tool and run locally?
On Sun, 2 Apr 2017 at 11:00 AM, Joseph Krug <notifications@github.com>
wrote:

--

Thanks,
Loi Luu

[2017-04-02 06:22] joeykrug commented on #44
Sure, first I tried the docker, then got this result. So then I updated to
latest version from this repo via git clone and still got the same result
On Sat, Apr 1, 2017 at 8:26 PM Loi Luu <notifications@github.com> wrote:

Thanks Joseph for reporting the issue. The tool is still under heavy
development so bugs are expected. Can you please provide more details on
how did you run it? Did you run it

[2017-04-05 12:51] luongnt95 opened #51 "Test case "signextend_Overflow_dj42" fails"
The test case in  "vmArithmeticTest.json"
Symbolic test terminates at PC = 2 => It doesn't run into SIGNEXTEND
[1] PUSH1 0x05
[2] JUMP
[3] JUMPDEST
[4] STOP
[5] JUMPDEST
[8] PUSH2 0x8000
[9] DUP1
[19] PUSH9 0x010000000000000001
[20] SIGNEXTEND
[23] PUSH2 0x8001
[24] GT
[26] PUSH1 0x03
[27] JUMPI
[32] PUSH4 0xbadf000d
[34] PUSH1 0x11
[35] SSTORE

[2017-04-05 14:00] #51 closed

[2017-04-05 15:12] inian commented on #44
I am seeing that disasm crashes with this error when run with thedao evm

<details>
10837  PUSH4panic: runtime error: slice bounds out of range

goroutine 1 [running]:
main.main()
        /build/ethereum-ZiWkDO/ethereum-1.5.0+1067SNAPSHOT20160915114521trusty/obj-x86_64-linux-gnu/src/github.com/ethereum/go-ethereum/cmd/disasm/main.go:45 +0x6ae

goroutine 17 [syscall, locked to thread]:
runtime.goex

[2017-04-14 07:55] inian commented on #33
yup setting UNIT_TEST=0 seems to remove the errors i was getting

[2017-04-14 07:55] #33 closed

[2017-04-17 06:01] loiluu opened #66 "Allow to analyze some contract from a remote url"
So that users can fetch the docker and run their custom contract easier.
For example, they can do something like:

`python oyente.py -r some_url`

[2017-04-18 04:06] retotrinkler opened #67 "https://oyente.melonport.com"
hosted node for rpc calls to get latest blockchain data

[2017-04-19 00:26] retotrinkler opened #68 "Create install instructions for local build; For z3 and (at least) Ubuntu ideally also for macOS"
Something working along the lines of

## Install

#### Install [solc](http://solidity.readthedocs.io/en/develop/installing-solidity.html#npm-node-js)
For example by

[code]

#### Install evm from [go-ethereum](https://github.com/ethereum/go-ethereum/releases/tag/v1.6.0)

For example via:

1. https://geth.ethereum.org/downloads/ or
2. By from PPA if your using Ubuntu
[code]

#### Install [z3](https

[2017-04-23 08:09] loiluu opened #70 "Check timestamp dependence bug"
Here is a testcase that oyente didn't detect the bug

[code]

[2017-04-24 02:19] inian commented on #70
The latest version of the code shows this to be vulnerable to timestamp dependence, callstack and reentrancy attack

[2017-04-24 02:19] #70 closed

[2017-04-24 03:56] inian commented on #66
Will assume -r reads in a remote solidity file by default.
-r -b can be provided to read in a remote evm file

[2017-04-24 06:10] #66 closed

[2017-04-24 07:02] #68 closed

[2017-04-26 02:50] loiluu commented on #67
@retotrinkler when can we expect the node to be ready?

[2017-04-26 20:06] retotrinkler commented on #67
@loiluu will be up in <24hrs; just about to board plane

[2017-04-27 12:20] retotrinkler commented on #67
ok server should be up

sample call
[code]

sample response

[code]

[2017-04-27 12:20] #67 closed

[2017-04-28 13:52] #19 closed

[2017-04-29 14:22] #4 closed

[2017-04-29 14:24] loiluu commented on #44
Turned out that the issue is because geth disasm couldn't disassemble the binary properly. Reported the issue to the geth team [here](https://github.com/ethereum/go-ethereum/issues/14376)

[2017-04-29 14:24] #44 closed

[2017-04-29 14:27] loiluu commented on #1
Handled most of the opcodes, the opcodes which are not symbolically reasonable will be handled in #3 concretely.

[2017-04-29 14:27] #1 closed

[2017-04-29 14:31] loiluu opened #74 "Build a web service for Oyente"
So users can upload/ paste their contract and Oyente will analyse the contract.

[2017-05-01 05:21] retotrinkler commented on #74
nice

[2017-05-09 03:35] #2 closed

[2017-05-11 14:26] loiluu opened #78 "Work with multiple .sol files"
Users need to enter only the entry file, which may include several .sol files

[2017-05-11 14:27] loiluu opened #79 "Better logging"
Consider using logging library https://docs.python.org/2/library/logging.html instead of printout to the std console

[2017-05-16 07:39] inian commented on #78
Solc already recursively compiles dependencies right now. Running oyente just for the entry contract runs it across all the imported contracts and reports vulnerabilities.

[2017-05-16 07:39] #78 closed

[2017-05-16 23:53] mhgharieb opened #81 "what does the result mean by "Exception"?"
I tried test my contract "test.sol" by running the command
`python oyente.py --error -s test.sol`

the result is
[code]

what does the result means by "Exception"?

Another thing, If I run the command without arg `--error`, the script does not terminate at all

[2017-05-17 01:21] inian commented on #81
Hey can you share the contract you ran?

[2017-05-17 02:09] mhgharieb commented on #81
Sorry, I can't

[2017-05-17 02:55] inian commented on #81
We won't be able to fix the issue without a reproducible test case.

[2017-05-17 02:55] #81 closed

[2017-05-17 03:06] mhgharieb commented on #81
I want only to know what is the meaning of "Exception". Does the contract pass all bugs' check?
I ran the test many times and get the same results.

[2017-05-17 03:21] loiluu commented on #81
@mhgharieb its some bug in our Python implementation. Its great if you can share with us privately the input that causes the exception.

[2017-05-17 18:34] mhgharieb commented on #81
@loiluu
if I ran `python oyente.py --error -s test.sol`
sometimes, I got the previous result and sometimes I got
[code]

On the other hand, If I ran `python oyente.py -s test.sol` , I got
[code]
I hope that can help.
Regarding sending the contract itself, we discuss this option

[2017-05-18 00:53] inian commented on #81
Hey can you tell re run with verbose flag and send us the output?

[2017-05-18 17:42] mhgharieb commented on #81
@loiluu @inian How can I send the contract privately?

[2017-05-18 18:07] loiluu commented on #81
Please email to loiluu@comp.nus.edu.sg.
On Fri, 19 May 2017 at 1:42 AM, mhgharieb <notifications@github.com> wrote:

--

Thanks,
Loi Luu

[2017-05-19 12:31] loiluu opened #84 "upgrade to z3 4.5.0"
@ngotungson can you upgrade/ make the changes to support z3 [v4.5.0](https://github.com/Z3Prover/z3/releases/tag/z3-4.5.0)

[2017-05-29 07:34] inian commented on #79
Switched to using logging module

[2017-05-29 07:34] #79 closed

[2017-05-29 07:37] #8 closed

[2017-06-02 18:07] loiluu opened #93 "prepare for the first release"
Prepare the document on how to use oyente, what are the arguments, codebase structure for the first release :)

[2017-06-02 18:08] loiluu commented on #93
Consider pushing Oyente to pipy as well.

[2017-06-03 08:21] #84 closed

[2017-06-07 04:00] loiluu opened #96 "Global timeout parameter"
Add a global timeout parameter. Terminate the symbolic execution after the timeout and do the analysis with all the explored paths so far.

[2017-06-07 04:02] loiluu opened #97 "add global timeout and email params"
Add 2 parameters to the web form:
* Global timeout
* Email: email to users after their analysis is done. Users can close their windows after they have started the analysis.

[2017-06-09 18:16] loiluu commented on #97
can you close this issue @luongnt95 ?

[2017-06-09 18:16] loiluu commented on #96
close this too @luongnt95 ?

[2017-06-12 00:01] #97 closed

[2017-06-12 16:55] #96 closed

[2017-06-12 20:25] loiluu commented on #74
done, check http://oyente.melonport.com

[2017-06-12 20:25] #74 closed

[2017-06-13 02:51] iShowCode opened #110 "Map error to exact solidity LOC"
when an error happens, I want to know the error happend in which function, can you give out this log???

[2017-06-13 07:32] inian commented on #110
Hey,

Thank you for the report!

In case of an error, it is supposed to show the full stack trace. Can you share the contract you are trying it out on, so that we can debug?

[2017-06-19 02:58] inian commented on #110
There was a particular program path where the stacktrace wasn't being printed. Have fixed it in this [commit](https://github.com/melonproject/oyente/commit/bcac7ac00da0a613fb0bf23b8652a41dbe82ebe5).

Could help check if this fixes your issue?

[2017-06-19 17:00] D-Nice opened #115 "Oyente crashes on certain contract, Segfault"
Using the docker container, oyente crashes via a segmentation fault, while trying to do the concurrency bug check it seems. Oddly, the same contract can be checked via the oyente browser-solidity/remix webpage, however, it returns a different result on the callstack attack, indicating true on the web one, and false on the one I tried with docker.

Here's the command along with the remote contract:

[2017-06-19 18:15] inian commented on #115
Hey, this seems to be z3 crashing because of the maximum recursive depth being reached. Can you run it with the depth limit (dl) command line option?

[code]

This segfault doesnt seem to be caught by our normal error handling though. Must be because it happens in the C-code of z3 and its python bindings don't propogate the error properly upwards.

[2017-06-19 19:34] leonardoalt opened #116 "Several instructions missing after evm disasm is called"
Hi all,
I've been checking the following simple contract (trying to understand some of Oyente's internals):
[code]
In oyente.py::analyze, when I print `disasm_out`, I get:
[code]
As you can see, there are several things missing there.
Since I give a source file, Oyente will compile it using `solc` and then call `evm disasm`.

If I call `solc --optimize --bin-runtime --asm test.sol`, I get all the

[2017-06-19 20:07] loiluu commented on #116
Hi Leo,

We encountered this problem before too. It is due to some disassambler bug that we reported [previously](https://github.com/ethereum/go-ethereum/issues/14376). Still waiting for their fix from the geth team.

[2017-06-19 20:44] leonardoalt commented on #116
Oh I see. I was indeed wondering if it was a bug or a version thing.
Thanks for the quick reply! Let's hope we can get an update from them soon.

[2017-06-19 20:45] #116 closed

[2017-06-20 00:23] #93 closed

[2017-06-20 00:38] D-Nice commented on #115
I can confirm with the dl option it worked. However, there was still some z3 trace printed. Also, as mentioned previously, the analysis from the container, results in a different one to that of the one here: http://oyente.melonport.com/
Namely being that the latter indicates a callstack attack being possible.

[2017-06-20 07:00] iShowCode commented on #110
Hi,inian:
    Thanks for your answer, my test contract as follows:
`contract KingOfTheEtherThrone {
    struct Monarch {
        // address of the king .
        address ethAddr ;
        string name ;
        // how much he pays to previous king
        uint claimPrice ;
        uint coronationTimestamp ;
    }
    address wizardAddress;
    Monarch public currentMonarch ;
    // claim the throne

[2017-06-20 08:40] inian commented on #110
Yup, that will be a very useful thing to have. Thing is oyente operates entirely on the disassembled opcodes. We lose information such as the function name, etc when we compile from solidity. Would be interesting to see if we can preserve relevant information when we compile down to opcodes so that we can pinpoint the exact location of the bug too.

[2017-06-20 10:52] iShowCode commented on #110
thanks for your answer, and do you know some methods about how to preserve relevant information when we compile down to opcodes

[2017-06-21 12:36] baibaratsky opened #118 "Callstack attack vulnerability"
Hi guys! Look a this code. I get `Callstack Attack: True` for this contract. That’s because of `return beneficiary.call.value(this.balance)();`. But I don‘t think it could be exploited any way.
I also don‘t know how to refactor it to eliminate `Callstack Attack: True`. Isn‘t it an Oyente bug?

[code]

[2017-06-22 03:39] inian commented on #118
Hey, oyente flags this as a bug because in theory ```beneficiary``` can call itself recursively to exceed the callstack limit, run out of gas etc. and throw an exception. The recommended way to handle this, is to refactor the code to as follows or use the more safer ```transfer``` function -

[code]

[2017-06-22 03:39] #118 closed

[2017-06-22 08:51] baibaratsky commented on #118
Well, it was the first thing I tried before open this issue, and it also causes `Callstack Attack: True`.

For sure I know that beneficiary could make recursive calls to exceed the callstack limit, but in this case it doesn’t affect anything, no?

[2017-06-22 10:42] inian commented on #118
Hey, can u try again with the latest version of the code? I modified the callstack detection logic in a recent commit :)

Yes, as you said it cannot be exploited in this case (since it is the last statement).

[2017-06-23 19:15] baibaratsky commented on #118
Sorry, can’t check. I use a web version (which is not the latest one, I suppose).
Docker container doesn‘t work for me:
[code]

[2017-06-26 10:34] retotrinkler opened #120 "Add support for https for oyente.melonport.com"
eg using https://letsencrypt.org/ for free certificates

should be sufficient to have https for 40.71.169.142 ie https://40.71.169.142

[2017-06-27 17:51] leonardoalt opened #121 "Results are not printed"
Hi there,

After pulling the most recent code yesterday, the output that I get for a simple program is:
[code]

I've noticed that there is a new function `detect_bugs` that is called if the symbolic execution times out and prints the other results.
Why isn't it called if the symb exec goes through?

Cheers,
Leo

[2017-06-28 08:00] exp10t opened #122 "Opcode EXTCODESIZE processing bug"
Recently I am using Oyente to analyze smart contracts, and I think it is an excellent tool!
However, I discover that there may exist a bug in symExec.py when it operates EXTCODESIZE. In the processing codes of this opcode, there is only one item should be poped out of stack. So in "if len(stack) > 1:", I think it should be: "if len(stack) > 0:".

When I ran some contract bytecode, Oyente usually '

[2017-06-28 08:07] exp10t opened #123 "Opcode "JUMP" and "JUMPI" processing bug"
When it operates opcode "JUMP" and "JUMPI", it has conversion "target_address = int(str(simplify(target_address)))". In Python it may throw error: "ValueError: invalid literal for int() with base 10", when target_address is a string that contains non-number.

[2017-06-28 08:19] exp10t opened #124 "No operation of opcodes: "EXTCODECOPY" "CREATE" "DELEGATECALL""
There are no operations of opcodes: "EXTCODECOPY" "CREATE" "DELEGATECALL".

[2017-06-28 09:18] luongnt95 commented on #121
Thank Leo for reporting the issue. I've checked the code and fixed the issue. I forgot to keep the `dectect_bugs` after refactoring the code

[2017-06-28 09:23] #121 closed

[2017-06-28 12:41] rainbreak opened #126 "python 3 compatibility"
I'm not sure how much work this is, but doesn't seem to work with python 3 just now.

[2017-06-28 13:45] leonardoalt opened #127 "Formal verification of custom Solidity assertions"
Hi there,

I've extended Oyente a little bit in my fork (https://github.com/leonardoalt/oyente) to try and verify any Solidity assertion. An assertion is compiled by Solc as a simple jump to INVALID in case the condition fails. So I use the SMT branch queries to decide whether a certain symbolic path may reach an INVALID (an assertion failure), and if that's the case ask z3 for the model. This has

[2017-06-28 15:01] loiluu commented on #126
I am not sure if z3 supports python3. If it does, it should not be too much work. Let us check it out and get back to this issue.

[2017-06-28 15:15] loiluu commented on #124
These opcodes we can't symbolically represent them. We do support them in a different manner though. Especially we allow users to set a specific testing environment to test these opcodes. @inian can explain this better.

[2017-06-28 15:31] #115 closed

[2017-06-28 15:40] loiluu commented on #123
Practically we don't think we can "jump" to a symbolic address since the code is static. Do you have any example where the target address is a symbolic value?

[2017-06-28 15:47] luongnt95 commented on #122
You're right. I've fixed the bug.

[2017-06-28 15:47] #122 closed

[2017-06-28 15:59] luongnt95 commented on #123
This line `target_address = int(str(simplify(target_address)))` is just for testing. In practice, I think we can't jump into a symbolic address as Loi mentioned.

[2017-06-28 16:00] pirapira commented on #127
To *Question 1*:

If the Solidity compiler uses `INVALID` for undesired user input, that's a bug in the compiler.  Please [file an issue](https://github.com/ethereum/solidity/issues/new).

Recently, [a similar issue](https://github.com/ethereum/solidity/issues/2293) was fixed.

To *Question 2*:

`solc/solc --asm-json foo.sol` associates each instruction with a range in the srouce code.

[code]
mea

[2017-06-28 17:47] loiluu commented on #127
@leonardoalt awesome idea. We thought about implementing that feature previously but haven't got chance to address it yet. Would love to see your PR soon.
Regarding your questions, I hope you are happy with @pirapira's answer. Otherwise, please let me know.

[2017-06-28 23:01] loiluu commented on #110
@inian `solc` has the feature to attach the  source code information to bytecode. Specificially, as mentioned by Yoichi, `solc/solc --asm-json foo.sol` associates each instruction with a range in the source code.
For example,

[code]
means the PUSH comes from the source code characters 39--43 (counted from zero).

[2017-06-29 05:15] iShowCode commented on #110
thanks for your direction, i have also found this command too.

[2017-06-29 05:16] #110 closed

[2017-06-29 05:24] iShowCode opened #129 "can not work well with multiple sol files or multiple contracts"
Hi,
I use "truffle init" to create MetaCoin.sol and ConvertLib.sol; and in MetaCoin.sol, it contains the code of "import "ConvertLib.sol"".
Now, using oyente, i get the bytecode of MetaCoin.sol is:
`606060405263ffffffff7c01000000000000000000000000000000000000000000000000000000006000350416637bd703e8811461005057806390b98a111461007e578063f8b2cb4f146100b1575bfe5b341561005857fe5b61006c600160a060020a036

[2017-06-29 09:22] leonardoalt commented on #127
@pirapira
Thanks for the answers!

I'll definitely try the solution for Question 2.

I'm a little confused by Question 1's answer though.
If not INVALID, what is the correct bytecode for an assertion? Maybe I am also misunderstanding the meaning of an assertion in Solidity. For me an assertion represents a property that holds at that point concerning anything, where by "anything" I mean mostly cor

[2017-06-29 09:24] pirapira commented on #127
@leonardoalt A correct bytecode for a `require` is `REVERT` opcode, which will be introduced in the Metropolis hardfork.  Even before the Metropolis hardfork, we can use the opcode for `REVERT` because that throws anyway.

Your interpretation is right.  When an assertion fails, there is a bug in the Solidity code, the Solidity compiler, or the EVM implementation.

[2017-06-29 09:28] leonardoalt commented on #127
@pirapira Oh I see. Cool, gonna use that one then. Thanks again!

[2017-06-29 16:09] loiluu commented on #127
@leonardoalt regarding unbounded loop, we do allow you to specify the bound for the loop. Try the `--looplimit` option.

[2017-06-29 16:11] loiluu commented on #127
I am happy to discuss more regarding this direction. Lets do it here so other people can join?

[2017-06-29 16:12] loiluu commented on #123
@luongnt95 Please consider using an assertion there!

[2017-06-30 03:31] joeykrug commented on #127
Would this work on bytecode too where assertions fail?

[2017-06-30 03:56] MicahZoltu commented on #127
To be clear, `assert(<condition>)` will do `INVALID` while `require(<condition>)` will do `REVERT`.  My understanding is that the intended use case is that `assert`s should _never_ be hit and `require` _may_ be hit during normal execution.  For a tool like this, that means that what you want to look for is `assert`s, not `require`s.

[2017-06-30 04:55] loiluu commented on #127
@joeykrug yes, Oyente basically works on bytecode.

[2017-06-30 06:39] beaugunderson commented on #126
Z3 does support Python3; from their README:

Anecdotally, on macOS you can do `brew install z3 --with-python3`.

[2017-06-30 13:23] leonardoalt commented on #127
@MicahZoltu Exactly what I thought.

@joeykrug The idea is to verify the bytecode, but in case there is a bug, to try and map it back to the Solidity code (in case the source was written in Solidity).

[2017-06-30 16:31] luongnt95 commented on #120
letsencrypt doesn't support certificate for ip address

[2017-06-30 16:31] #120 closed

[2017-07-01 03:03] inian commented on #129
Hey,

I assume you were referring to the contracts here right - https://github.com/ConsenSys/truffle-webpack-demo/tree/master/contracts

Oyente figures out the dependencies and prints out the results for each contract separately.

This is the result I am getting when I run oyente for MetaCoin.sol
![image](https://user-images.githubusercontent.com/2155545/27758662-aa146c8c-5e4c-11e7-98da-3fbccfdc43

[2017-07-02 05:03] inian commented on #129
@iShowCode as you said, it looks like ```evm disasm``` fails if the bytecode contains ```__ConvertLib.sol:ConvertLib_____________```

Should this be reported as an upstream bug to evm?

[2017-07-02 17:53] luongnt95 commented on #126
Yeah you're right @beaugunderson . Z3 supports Python 3 but now we need to focus on other issues. We will try to make Oyente compitible with z3 in the future.

[2017-07-02 21:18] rainbreak commented on #126
@luongnt95 in case someone else wants to pick this up, would you accept a PR?

[2017-07-02 21:21] loiluu commented on #126
Absolutely. Please submit a PR!
On Sun, Jul 2, 2017 at 2:18 PM rain <notifications@github.com> wrote:

--

Thanks,
Loi Luu

[2017-07-05 01:58] iShowCode commented on #129
@inian Thanks for your reply, i also think this is a bug of evm.

[2017-07-05 01:58] #129 closed

[2017-07-05 02:36] iShowCode opened #132 "TIme Dependence Detection Error"
HI,All:
   The contract shows as following:
[code]
i used oyente to detect errors, but it output "time_dependency:false", i think it should output "time_dependency:true" because y depend on block.timestamp, its a puzzle for me

[2017-07-05 09:57] SCBuergel opened #133 "Does not work with Solidity 0.4.12"
When using any of the 0.4.12 compiler version and a corresponding `pragma solidity ^0.4.12;` I do not get any outputs regarding the checked issues, the result box is in fact empty:
<img width="710" alt="screen shot 2017-07-05 at 11 04 03" src="https://user-images.githubusercontent.com/11379673/27857381-c061cd54-6171-11e7-8ac5-e5d172806f48.png">

[2017-07-05 10:18] luongnt95 commented on #133
We are currently using solc version 0.4.11, so version 0.4.12 is not supported now. Will update the solc version and outputs the errors

[2017-07-05 16:44] loiluu commented on #132
Hi @iShowCode ,

Currently we are only interested in the paths that send out ether/ money. Hence we do not consider the paths that depend on timestamp and do not do anything with the contract balance. That explains why Oyente doesn't raise any flag for theRun.

[2017-07-06 12:50] inian commented on #132
We find out if a different code path can be executed purely by controlling the block timestamp. To this end, if we find block timestamp as one of the variables used in the path condition, we report the bug.

[2017-07-06 18:41] luongnt95 commented on #132
I ran your contract `contract theRun{ function random() returns(uint result){ uint salt = block.timestamp; if(salt % 5 == 0){ return 100; } } }` and it outputed "time_dependency: false" instead.

[2017-07-07 02:02] iShowCode commented on #132
@luongnt95 i am sorry i gived a wrong example. i have read the source code of oyente, @inian is right that timestamp must as one of the varables used in the path condition. but i think besides block.timestamp in path condition, if detect any variable using block.timestamp, it should be considered as time dependence, is my thought reasonable?

[2017-07-07 02:11] luongnt95 commented on #123
[Here](https://github.com/melonproject/oyente/commit/d401a64c531476700eb7cc54ac94c3b8d21787a1) is my PR to handle exceptions in JUMP and JUMPI

[2017-07-07 02:11] #123 closed

[2017-07-07 05:33] luongnt95 commented on #133
@SCBuergel I've updated solidity compiler to the latest version, so now version 0.4.12 should work.

[2017-07-07 05:33] #133 closed

[2017-07-07 06:33] luongnt95 commented on #132
@iShowCode We only care about a timestamp that affects money flows of a contract. There is no meaning to report the bug if the contract transfers nothing but using timestamp

[2017-07-07 09:02] iShowCode commented on #132
@luongnt95 i perhaps not agree your viewpoint very well, now our team is developing a dapp based on smart contracts, in smart contracts, we using some variables to store some users' information, and through functions to modify these information, if i using block.timestamp as a factor in a path condition, it may affect the modification process, although there are no money flows, but i think this is

[2017-07-07 16:31] loiluu commented on #132
@iShowCode valid point. We can consider adding timestamp dependent analysis
for normal paths later. If you are interested, please submit a PR.
On Fri, Jul 7, 2017 at 2:02 AM iShowCode <notifications@github.com> wrote:

--

Thanks,
Loi Luu

[2017-07-08 00:14] loiluu commented on #127
@leonardoalt please let us know how we can help you on this issue!

[2017-07-10 14:05] leonardoalt commented on #127
@loiluu Thanks! I haven't been working on it since I opened the thread, but I'll implement the solution to Question 2 this week. Ideally this will take care of pointing to the function that contains the broken assertion.
Any ideas on how to map values from the model back to Solidity variables? The first way that I thought would be to separate storage and local variables, could be a start.

[2017-07-12 07:58] iShowCode commented on #132
@loiluu Thanks for  your approval, i'll do my best for oyente

[2017-07-12 07:59] #132 closed

[2017-07-12 11:13] leonardoalt opened #139 "Timeout when using timestamp in require (runs instantly without)"
Hi there,

I'm running a few tests, and I've come across this behavior for the following contract:
[code]
With the contract like this, it times out.
Without the ``require`` line, it runs instantly.
I haven't checked the constraints that are passed to z3, but I would assume the branch that leads to the if/else has one constraint on the timestamp.

Any high level thoughts on why this happens?

[2017-07-12 16:43] leonardoalt commented on #139
Ok, I figured what the problem was.
This is the piece of the disasm of the second code that I've posted related to the ``require`` command:
[code]
If I change ``require`` to ``assert`` in the same code, it becomes:
[code]
The two extra ``PUSH``s are what break the stack afterwards, and lead to the TypeError.

My really-not-good-fix just to finish running my tests was to pop twice if the INVALID is

[2017-07-13 09:03] luongnt95 commented on #139
I think we can treat 0xfd as REVERT opcode and pop 2 elements from the stack.

[2017-07-13 09:16] leonardoalt opened #140 "Why does this contract have a reentrancy bug?"
Hi,
I would assume this contract is safe with respect to reentrancy, but Oyente says otherwise. Why is that?
[code]

[2017-07-14 02:03] luongnt95 commented on #140
@leonardoalt I fixed the issue and here is my [https://github.com/melonproject/oyente/pull/141/files](PR)

[2017-07-14 03:23] luongnt95 commented on #139
@leonardoalt I've added REVERT to the code and your contract should work now. Here is my [commit](https://github.com/melonproject/oyente/commit/8b5449d4e886cc1bca82442b24703b01e2a237e5)

[2017-07-14 14:40] #139 closed

[2017-07-15 14:43] leonardoalt commented on #140
If the storage var is a ``map`` instead of ``uint``, the bug is back..
[code]

[2017-07-16 02:13] luongnt95 commented on #140
Thanks @leonardoalt  I'm fixing this bug. I will get back to you when I've done

[2017-07-16 19:29] leonardoalt commented on #140
Ok @luongnt95, thanks!

[2017-07-17 02:45] joeykrug commented on #127
Just wanted to comment and say this would be an amazing feature ^^

[2017-07-17 16:17] leonardoalt commented on #127
Cool, I see the PR regarding this topic was merged :)

Continuing the discussion here:
as I mentioned in the PR, there are cases that lead to false positives (false reports on assertion failures).
One of those cases that I am aware of is the use of ``ENUM``. It uses ``INVALID`` a lot, so you might see false positives if you run Oyente with the option ``-a`` on a code with ``ENUM``s.

The combinati

[2017-07-18 03:09] loiluu commented on #140
@luongnt95 this is different from the bug you are fixing. It should not be a bug with our current implementation. Please double check and see where it goes wrong.

[2017-07-18 07:02] luongnt95 commented on #140
@leonardoalt The bug has been fixed. Here is my [commit](https://github.com/melonproject/oyente/commit/862d0dcff472ff272bf16df61b8f3f0ddf77cd61)

[2017-07-18 15:09] #10 closed

[2017-07-27 16:14] #140 closed

[2017-08-07 19:11] leonardoalt commented on #127
The hacks in my code to identify the use of ``INVALID`` that does not come from an ``assert`` might not be necessary anymore since those were probably bugs and have already been fixed in the newer versions of ``solc``. I'll check that this week.

[2017-08-07 21:52] loiluu commented on #3
@inian if possible, please update the status of this PR!

[2017-08-07 21:53] #9 closed

[2017-08-11 10:48] leonardoalt commented on #127
I'm closing this issue since assertion checks are working well and assertion fails have been nicely mapped back to the Solidity ``assert`` code with the recent work on Source Map. I haven't seen any false positives, but if I do I'll create a new issue.

[2017-08-11 10:48] #127 closed

[2017-08-13 16:43] luongnt95 commented on #127
Good work. Thanks @leonardoalt

[2017-08-24 02:03] noobdoesre opened #172 "Reentrancy bug not recognized upon analyzing raw bytecode"
Not sure whether it is a bug or tool limitation: when analyzing raw bytecode of [simple contract](https://raw.githubusercontent.com/comaeio/porosity/master/vulnerable.sol) with reentrancy bug  oyente reports that it's not vulnerable, although when running it with `--debug` flag I see:

`INFO:oyente.analysis:Reentrancy bug? True`.

I looked into source code and seen this snippet in `symExec.py`:

[

[2017-08-24 10:10] luongnt95 commented on #172
Thanks @noobdoesres. This is a bug and it will be fixed soon.

[2017-08-28 12:35] luongnt95 commented on #172
@noobdoesre The bug is fixed now. You can pull the latest code to run.

[2017-08-28 12:35] #172 closed

[2017-09-01 21:49] predicador37 opened #176 "KeyError when auditing contract"
Hi:
I'm auditing an ICO contract and find the following error when executing oyente in the docker container:
[code]
Any ideas? Thanks in advance.

[2017-09-02 22:04] lezcano67 commented on #176
Hi all,

the same error raises with some contracts (others are analyzed without errors) running oyente on Ubuntu:

[code]

Many thanks.

[2017-09-03 02:17] wanshun123 opened #177 ""Reentrancy bug" given for send()"
Oyente will state there's a reentrancy bug on a line like `msg.sender.send(this.balance)`, however `send()` is safe from reentrancy attacks as it limits the gas to 2300 if transferring to another contract. I believe only `call()` is vulnerable to reentrancy (as stated in https://github.com/ConsenSys/smart-contract-best-practices#reentrancy)

[2017-09-04 04:39] luongnt95 commented on #177
@wanshun123 Can you provide me that contract so that I can debug. The tool is able to detect the case you said. You can find more details about what our tool can do with reentrancy bug [here](https://github.com/melonproject/oyente/blob/master/code.md) in the "reentracy bug" section

[2017-09-04 04:45] luongnt95 commented on #176
@predicador37 @lezcano67 Hi! Can you guys provide me the contracts?. This problem is caused when an opcode doesn't match the source map

[2017-09-04 17:39] lezcano67 commented on #176
Hi @luongnt95 The contract that fails is based on [PillarToken.sol](https://etherscan.io/address/0xe3818504c1b32bf1557b16c238b2e01fd3149c17#code)

This code from Pillar's contract raises the same error too:

[code]

[2017-09-05 03:15] luongnt95 commented on #176
Thanks @lezcano67 Let me check.

[2017-09-06 08:37] luongnt95 commented on #176
Hi @predicador37 @lezcano67 . The bug has been fixed and now you can pull the latest code into your docker container. I will update the docker image soon.

[2017-09-06 08:38] #176 closed

[2017-09-06 12:09] lezcano67 commented on #176
Hi @luongnt95

thanks a lot! I will update the repo ASAP.

El 06/09/2017 10:37, "luongnt95" <notifications@github.com> escribió:

Hi @predicador37 <https://github.com/predicador37> @lezcano67
<https://github.com/lezcano67> . The bug has been fixed and now you can
pull the latest code into your docker container. I will update the docker
image soon.

—
You are receiving this because you were mention

[2017-09-06 12:55] luongnt95 commented on #177
@wanshun123 Oh, the problem was caused because the solver failed to solve constraints. You can set the "timeout" to 1000 or greater instead of the default value which is 100 so that the solver can solve the constraints. I will add more information to the result to make the tool easier to use.

[2017-09-06 12:57] #177 closed

[2017-09-07 18:56] predicador37 commented on #176
@luongnt95 It works nicely now. Thanks a lot for your quickness and for developing this useful and interesting tool.

[2017-09-08 12:20] wanshun123 opened #182 ""solc" and "evm" commands not existing"
As described in https://ethereum.stackexchange.com/questions/26059/solc-and-evm-commands-not-existing I have geth and solcjs installed on my machine (and can run `geth` or `solcjs` anywhere - solcjs was installed via `npm install -g solc`) but they are not being picked up by Oyente - is there an easy workaround for this?

[2017-09-08 15:02] luongnt95 commented on #182
@wanshun123 Oyente uses `solc` instead of `solcjs`.

[2017-09-08 15:07] luongnt95 commented on #182
You can follow the instruction [here](https://github.com/melonproject/oyente) to install all needed dependencies

[2017-09-09 01:04] #182 closed

[2017-09-09 02:49] luongnt95 commented on #176
Thanks @predicador37 So glad to hear that the tool is useful to you.

[2017-09-11 21:35] designium opened #185 "Cannot install Oyente on Mac after dependencies"
Hi,

I installed all the dependencies for oyente and it keeps giving me this error:

    $ pip install oyente
     Collecting oyente
      Using cached oyente-0.2.6.tar.gz
         Complete output from command python setup.py egg_info:
         Traceback (most recent call last):
           File "<string>", line 1, in <module>
           File "/private/var/folders/cl/vhg7nstx2gl895q4b88r0bv40000gn/

[2017-09-14 10:44] Simoneth opened #186 "Command "python setup.py egg_info" failed with error code 1"
I tried to install Oyente on my Windows 8.1 x64

[code]
Specs:

**pip 9.0.1
python 3.6**

[2017-09-15 05:17] luongnt95 commented on #186
@Simoneth Can you please try using pip using python2 instead of python3 because our tool only works with python2

[2017-09-15 05:18] luongnt95 commented on #185
@designium Can you please try using pip using python2 instead of python3 because our tool only works with python2

[2017-09-19 03:49] #185 closed

[2017-09-19 03:49] #186 closed

[2017-09-19 08:44] iShowCode opened #188 "Code Coverage is lower"
I have two contracts A.sol, B.sol and in A.sol, it import B.sol`import "B.sol";
contract A{

    address owner;
    event AutoEvent_3(uint indexed amount,uint indexed station_price, uint indexed ev_price);
    function BatteryProcess(){
        owner = msg.sender;

    }
  	struct StaticInfo{
          bytes32 brand;

          uint maxChargingCount;
          uint maxDischargingCount;

[2017-09-19 08:50] #188 closed

[2017-09-19 08:55] iShowCode opened #189 "Code Coverage is lower"
## I have two contracts, A.sol and B.sol, A.sol import B.sol, when i use your tool to test A.sol, whatever i set the global_params.py, the EVM code coverage of A.sol is about 10%, how to improve code coverage

# This is A.sol
[code]

# This is B.sol
[code]

[2017-09-22 02:54] iShowCode commented on #189
Hey, anyone can introduce how to solve this issue, thanks

[2017-09-22 02:56] luongnt95 commented on #189
Hi @iShowCode ! Oyente has an option `--debug` used to detect if a path was cut or not which affects the EVM code coverage. If you see `Z3Exception: canceled`, it means that a path was cut. In order to escape from this exception you have to increase `-t` option (time limit for z3 to solve a constraint) util there is no `Z3Exception: canceled`  showed.

[2017-09-22 02:57] luongnt95 commented on #189
@iShowCode Please also pull the latest code of Oyente.

[2017-09-26 16:00] Recmo opened #192 "Line number and cited code incorrect."
Using current docker image.

Output:
[code]

The line and column number match the cited code and carrot, but the location seems to have no relation to the actual source of the problem.

[2017-09-26 18:40] mirathewhite opened #193 "Call to ecrecover() flagged as callstack bug"
I'm pretty sure this is a false positive. Otherwise, the call to keccak256 should generate the same error since both are precompiled contracts.

    function requireECDSASignatureFromValidSigner(
        bytes32 action,
        bytes32 hashedTransaction,
        bytes32 r,
        bytes32 s,
        uint8 v) private returns (address)
    {
        bytes32 message = keccak256(action, hashedTransact

[2017-09-27 01:56] iShowCode commented on #189
@luongnt95 thank you ,i will try

[2017-09-27 01:56] #189 closed

[2017-09-28 03:25] luongnt95 commented on #193
@mirathewhite Do you have a full contract so I can check. Do you run on docker or your local machine?

[2017-09-28 03:30] luongnt95 commented on #192
Thanks @Recmo The next docker image update will come soon for the docker image and will solve the problem.

[2017-09-29 14:00] mirathewhite commented on #193
I run oyente on my local machine (Mac). Here is a simple example that reproduces.
<
pragma solidity ^0.4.14;

contract SimpleSig {

    // Users who are allowed to sign.
    mapping (address => bool) public isSigner;
    address[] signers;

    // Minimum required signatures
    uint public minSignaturesRequired = 2;

    // Maximum number of signers
    uint public maxSigners = 10;

    // Constr

[2017-09-30 15:23] luongnt95 commented on #193
Hi @mirathewhite It seems that you ran the old code base. Please pull the newest code and re-check it

[2017-10-02 00:38] joeykrug opened #197 "Pip install issues"
`sudo pip install oyente` - All good
`oyente`
`No module named z3`

Tried
`sudo pip install z3`

Then

`oyente`

Get

`ImportError: No module named z3util`

[2017-10-02 00:39] joeykrug commented on #197
Oh! Figured out the issue

need to also do `pip install z3-solver` --- this should be added as part of the pip install IMO

[2017-10-02 01:37] luongnt95 commented on #197
Thanks @joeykrug You could try using docker for the latest code

[2017-10-02 01:40] luongnt95 commented on #192
@Recmo The docker image is updated now. Hope it will solve your problem

[2017-10-02 16:56] leonardoalt opened #199 "Oyente-based Bounded Model Checker (OBMC)"
Hi,
I've been working on a bounded model checker (I've been calling it OBMC) based on Oyente (it's in my fork, branch master).
The approach is different from Oyente's, in the sense that OBMC (as a standard SMT-based bounded model checker) creates a single SMT formula that encodes the values symbolically (like Oyente does) plus all the program paths and conditions as well, instead of simulating all

[2017-10-03 02:01] MicahZoltu opened #200 "Add support for standard-json."
In a complex project like [Augur](https://github.com/AugurProject/augur-core), the contracts don't compile by just passing them to `solc` because the system is made up of dozens of contracts that have intertwining references and a non-trivial build system.  "Standard JSON" seems to be the recommended mechanism for defining complex builds for solc, so it would be nice if Oyente supported building f

[2017-10-03 02:07] joeykrug commented on #200
Yes please +1

[2017-10-04 17:31] taxic opened #201 "incomplete results for outputing to json file"
All in symExec.py file:
In function run_callstack_attack(), detect_money_concurrency(), and detect_time_dependency(), there is no "results['**'] = bool(pcs)" in the last else branch.
Also, missing 'results["reentrancy"] = reentrancy_bug_found' in detect_reentrancy().

[2017-10-05 03:58] luongnt95 commented on #201
@taxic `results` is only used for the web version which requires the source code while the last else branch as you said is used for the binary

[2017-10-05 04:03] taxic commented on #201
What about your results of running 'batch_run.py' on some contract*.json?
My tmp.evm.disasm.json (results.json) contains neither 'true' nor 'false'.

[2017-10-05 07:25] HaleTom commented on #186
I can confirm it works with pip2.

[2017-10-05 08:48] taxic opened #203 "typo: symExec.py 1395 line"
adress => address

[2017-10-05 10:30] AyushyaChitransh opened #204 "Solidity import fails without information"
## Environment

The testing is being done on [online version](https://oyente.melon.network/#version=soljson-v0.4.17+commit.bdeb9e52.js) of oyente.

## Problem

Contracts having import statements do not compile. The reason for failure remains unknown. The "analyze" button gives `Solidity compilation failed` as the only output.

[2017-10-05 11:36] HaleTom opened #205 "CRITICAL:root:Z3 is not available. Please install z3 from https://github.com/Z3Prover/z3."
I have z3 installed, but still get an error when running oyente:

[code]

[2017-10-05 11:37] HaleTom commented on #205
Reinstall z3 with pip2:

[code]

[2017-10-05 11:37] #205 closed

[2017-10-07 08:09] luongnt95 commented on #203
Thanks  @taxic

[2017-10-07 08:09] #203 closed

[2017-10-07 08:11] luongnt95 commented on #201
My bad, `results` is also used in batch_run.py. The bug is fixed now anyway

[2017-10-07 08:11] #201 closed

[2017-10-07 08:12] luongnt95 commented on #200
Thanks @MicahZoltu Will consider it

[2017-10-07 08:13] #192 closed

[2017-10-07 08:14] #193 closed

[2017-10-07 17:43] luongnt95 commented on #204
Thanks @AyushyaChitransh You can import files now on the web

[2017-10-07 17:47] AyushyaChitransh commented on #204
It works now!

[2017-10-07 17:47] #204 closed

[2017-10-08 17:07] loiluu commented on #199
Hi @leonardoalt
I think OBMC is a great idea and it is definitely a different approach than Oyente. However, i doubt the practicality of it since its not always feasible to generate a giant formula to simulate all program paths. Are you able to get some statistics to compare the performance between OBMC and Oyente?

In terms of the PR, i suggest merging to the same code base here since 1) we can c

[2017-10-10 09:46] leonardoalt commented on #199
Hi @loiluu
The formula isn't _that_ big, since its size is linear on the size of the CFG. In fact, for more complicated cases, the time to build the graph (for now it does explore exponentially the CFG to find all jump targets without doing any computation, only `PUSH`s and `POP`s) is longer than the SMT solving time. I have a few examples which I'm using for development and debugging, not really

[2017-10-16 21:42] joeykrug commented on #199
https://github.com/AugurProject/augur-core would be a good benchmark suite, there's not many more complex dapps than it

[2017-10-23 11:34] wlzla000 opened #212 "Typo: “unkown”."
`UNKOWN_INSTRUCTION` → `UNKNOWN_INSTRUCTION`

https://github.com/melonproject/oyente/blob/06c7ad1610283ce14cde1a1cb5da3306cc737018/oyente/symExec.py#L21

-----

`"Unkown instruction: %s"` → `"Unknown instruction: %s"`

https://github.com/melonproject/oyente/blob/06c7ad1610283ce14cde1a1cb5da3306cc737018/oyente/symExec.py#L1966

-----

`UNKOWN_INSTRUCTION` → `UNKNOWN_INSTRUCTION`

https://github.com

[2017-10-25 08:25] domainexpert opened #213 "Need to remove z3.z3util imports"
On my system, I had to remove `from z3.z3util import ..` from `analysis.py` and `utils.py` and `import z3.z3util` from `oyente.py` to make oyente run.

[2017-10-25 12:45] domainexpert commented on #213
This is a duplicate of #197.

[2017-10-25 12:45] #213 closed

[2017-10-25 12:47] domainexpert commented on #197
As I mentioned in #213, to resolve
[code]
on my system, I removed `from z3.z3util import ..` from `analysis.py` and `utils.py` and removed `import z3.z3util` from `oyente.py`.

[2017-10-30 15:49] luongnt95 commented on #197
@domainexpert Can you check z3 version on your system. Oyente runs z3 version 4.5.*

[2017-10-30 15:52] luongnt95 commented on #212
Thanks @wlzla000 typo is corrected now

[2017-10-30 15:52] #212 closed

[2017-10-31 13:54] domainexpert commented on #197
@luongnt95 The Z3 version is as follows:
[code]

[2017-11-08 21:41] retotrinkler opened #225 "Flag calls into contracts w selfdestruct opcode"
Flag contracts which contain call, callcode, delegatecall opcodes into contracts that contain selfdestruct opcode(s) as vulnerable.

[2017-11-09 21:11] wlzla000 opened #227 "Wrong implementation of `symExec.check_callstack_attack()`."
I think I found something wrong with the `symExec.check_callstack_attack()`:

https://github.com/melonproject/oyente/blob/10386cd0a4a9f702031669de69ba3e1ee931ca8b/oyente/symExec.py#L2141-L2164

-----

### Might be a bug

In this code:

https://github.com/melonproject/oyente/blob/10386cd0a4a9f702031669de69ba3e1ee931ca8b/oyente/symExec.py#L2151-L2153

, it seems it is intended to search for opcode s

[2017-11-09 21:37] wlzla000 opened #228 "Typo: `detect_vulnerabilies`."
`detect_vulnerabilies` → `detect_vulnerabilities`.

https://github.com/melonproject/oyente/blob/10386cd0a4a9f702031669de69ba3e1ee931ca8b/oyente/symExec.py#L2211

https://github.com/melonproject/oyente/blob/10386cd0a4a9f702031669de69ba3e1ee931ca8b/oyente/symExec.py#L2357

[2017-11-09 21:40] wlzla000 commented on #227
May I _pull-request_ this?

[2017-11-10 10:01] wlzla000 opened #230 "List index out-of-range errors (IndexError) occur in `symExec.check_callstack_attack()`."
# `IndexError`

_List index out-of-range_ error (`IndexError`) occurs in:

https://github.com/melonproject/oyente/blob/10386cd0a4a9f702031669de69ba3e1ee931ca8b/oyente/symExec.py#L2148

https://github.com/melonproject/oyente/blob/10386cd0a4a9f702031669de69ba3e1ee931ca8b/oyente/symExec.py#L2152

https://github.com/melonproject/oyente/blob/10386cd0a4a9f702031669de69ba3e1ee931ca8b/oyente/symExec.py#L2

[2017-11-13 09:49] luongnt95 commented on #227
Thanks @wlzla000 for the Pull Request.

[2017-11-13 09:49] #227 closed

[2017-11-13 09:55] luongnt95 commented on #126
Oyente is compatible with Python 3 now.

[2017-11-13 09:55] #126 closed

[2017-11-13 11:53] luongnt95 commented on #228
Thanks @wlzla000 .

[2017-11-13 11:53] #228 closed

[2017-11-14 08:34] luongnt95 commented on #225
@retotrinkler Done!

[2017-11-14 08:34] #225 closed

[2017-11-15 00:36] beaugunderson commented on #200
@luongnt95 looks like support was [added here](https://github.com/melonproject/oyente/commit/539a62c5c8a851e4a6380b62124629d4ecd8667d?w=1)--does it work? :)

[2017-11-20 13:06] karnawat83 opened #233 "failed to compile when there a call to other contract"
Below are the sample of two contract:

pragma solidity ^0.4.8;
    contract A {
       function testA() constant returns(uint d) {
           return 5;
       }
    }

 pragma solidity ^0.4.8;

import "./A.sol";

    contract B {
       function testB() constant returns(uint d) {
           return new A().testA();

       }
    }

[2017-11-20 13:48] karnawat83 opened #234 "debug mode is showing error when contract referes to constant values"
Following are the sample contracts

File: c.sol
pragma solidity ^0.4.8;
contract C{
    mapping(bytes32 => uint) UIntStorage;
    function getUIntValue(bytes32 record) constant returns (uint){
        return UIntStorage[record];
    }

    function setUIntValue(bytes32 record, uint value)    {
        UIntStorage[record] = value;
    }
}

File: lib.sol
pragma solidity ^0.4.8;
import "./C.sol";
lib

[2017-11-20 14:17] karnawat83 commented on #234
if we execute without -db parameter, due to these background error code coverage percentage was low.

[2017-11-20 14:54] karnawat83 opened #235 "Failed to compile if documentation description missing for param"
Following contract to failed to compile because documentation comments parameter missing description of the parameter.

Sample Contract

pragma solidity ^0.4.8;
contract C{
    mapping(bytes32 => uint) UIntStorage;
    /**
     * function to get value of the spcecied record
     * @param record
     * @return val
     */
    function getUIntValue(bytes32 record) constant returns (uint val){

[2017-11-21 09:22] karnawat83 opened #236 "check for evm version with hard coded values"
While running oyente with docker container, docker file is downloading ethereum Version as 1.7.1. while running oyente,we are gettting following warning :-1:
  WARNING:root:You are using evm version 1.7.1. The supported version is 1.6.6

Reason: check for evm version with hard code value : 1.6.6 in oyente.py file.

[2017-11-25 16:37] xuhcc opened #237 "Python 3 support"
Does oyente have python3 support?

I tried to install latest oyente using pip3 from the github repo:

[code]

And intstallation was successful, but when I try to analyze contract it gives me the error:

[code]

[2017-11-30 00:49] postables opened #241 "Getting consistently low EVM code coverage results"
For Whatever reason when using the command line utility I can't get high code coverage results. I'm consistently getting low percentages, varying from 2% to 10%.

When using the web app version I was able to increase code coverage results by upping the gas limits, depth limits and so on but doing that with the command line utility seems to have no effect

[2017-12-01 13:35] luongnt95 commented on #241
@postables The result also relies heavily on your local machine's hardware. If the hardware is weak then you have to increase -t option and -glt option to be able to get higher percentage

[2017-12-01 13:38] luongnt95 commented on #237
@xuhcc Currently, the version of Oyente having python3 support is not available on pip. To use python3 you must pull Oyente from branch master

[2017-12-01 13:42] luongnt95 commented on #200
@beaugunderson it's not fully supported. Could you help me test this feature?

[2017-12-01 13:44] luongnt95 commented on #233
@karnawat83 you ran these contracts in docker, local machine or the web?

[2017-12-01 15:02] luongnt95 commented on #234
@karnawat83 You have to increase -t and -glt option til these exceptions disappear then the code coverage percentage might be higher.

[2017-12-01 15:39] luongnt95 commented on #235
@karnawat83 This error is expected. Oyente can't run if the contract is not compiled

[2017-12-01 15:39] #235 closed

[2017-12-01 23:48] postables commented on #241
@luongnt95
I'm running it off an i7-4790K overclocked to 4.7GHz,
I also have a 24  threaded Xeon processor that I can try later on today to see if i can bump up the code coverage percentage.

I also tried last night manipulating -t, -glt, and -ll but could not get my code coverage higher.

[2017-12-02 05:30] luongnt95 commented on #241
@postables Let try `python oyente.py -s test.sol --debug -t 1000` and see if there's any exception raised like this: `Z3Exception: canceled`. You need to increase -t option til this exception disappears

[2017-12-02 05:31] #237 closed

[2017-12-02 07:02] postables commented on #241
@luongnt95  I was able to get it to stop complaining about timeouts with the following parameters:
`--debug -t 10000000000000000000000000000 -glt 2000000000`

Unfortunately due to CPU constraints it is taking my workstation much to long so I'm considering spinning up a dedicated EC2 instance to run oyente on.

Python is single-threaded unless programs are configured to take advantage of multi-thre

[2017-12-03 00:00] #241 closed

[2017-12-05 11:34] luongnt95 commented on #241
@postables nice. We haven't had any plan on that.

[2017-12-05 11:36] luongnt95 commented on #236
@karnawat83 I think it's normal to check for evm version with a hard code value in this case.

[2017-12-05 11:37] #236 closed

[2017-12-10 15:17] MKong opened #242 "SELFDESTRUCT opcode should replace SUICIDE"
Since EIP6, the `SUICIDE` op code has been replaced by `SELFDESRUCT`. This should be replaced in all instances of `SUICIDE`, for example, in the `calculate_gas` function.

[2017-12-11 17:40] travs opened #243 "Failing during compile exits with 0 (non-error)"
Inside our CI, failing to compile produces this output:

[code]

The command exits with `0` however, when we would expect it to exit with some other code, since the command did not complete as expected.

Fix could be as simple as exiting with non-zero code I think

[2017-12-12 19:34] retotrinkler opened #245 "Update solc and evm dependencies"
would be nice to have `solc 0.4.19` version

and updated evm version to last stable version

related to #243

[2017-12-13 17:27] #243 closed

[2017-12-18 05:57] #234 closed

[2017-12-18 05:58] #245 closed

[2017-12-18 05:58] luongnt95 commented on #245
@retotrinkler Updated

[2017-12-18 06:00] #233 closed

[2017-12-18 06:22] luongnt95 commented on #242
@MKong Because SELFDESTRUCT is added as an alias of SUICIDE opcode (rather than replacing it), we convert all SELFDESTRUCT to SUICIDE opcode before running Oyente. I think this shouldn't be a problem.

[2017-12-18 06:22] #242 closed

[2017-12-18 06:53] luongnt95 commented on #230
Thanks @wlzla000. The issue is fixed now.

[2017-12-18 06:53] #230 closed

[2017-12-19 19:36] dominictarr opened #252 "what is EVM code coverage?"
I read the oyente paper, then installed and ran the oyente tool, and in the output I saw "EVM code coverage"
looking at lots of contracts, sometimes it would say "100%" but often smaller than 50% or even 0.

I didn't see anything in the documentation or paper about coverage. Searching the code I found this:
[code]
https://github.com/melonproject/oyente/blob/b3cdac8898a06ba4518907e6f0cf922f74b25469

[2017-12-21 09:32] luongnt95 commented on #252
evm_code_coverage = number of opcodes executed / total number of opcodes. To increase the code coverage you can try increasing -t option. Could you run Oyente with the contracts that results in 0% of evm code coverage with --debug flag and provide me the screenshot of it?

[2017-12-28 21:35] avatar-lavventura opened #255 "Which solc version is required?"
$ solc --version
solc, the solidity compiler commandline interface
Version: 0.4.8+commit.60cc1668.Darwin.appleclang

$ python oyente.py -s Greeter.sol

CRITICAL:root:Solidity compilation failed

[2017-12-29 14:48] luongnt95 commented on #255
@avatar-lavventura you should install the latest version of solc

[2018-01-01 20:34] joeykrug commented on #200
Below is a standard JSON output file for solidity, trying it with:

`oyente/oyente.py --standard-json --source contracts.json`

[code]

[2018-01-03 17:26] luongnt95 commented on #200
@joeykrug Currently, Oyente only gets json input as the input. In order to run json input with Oyente, you have to use --alow-paths parameter as in [solc](https://github.com/ethereum/solidity/issues/2266)

[2018-01-03 19:02] #255 closed

[2018-01-03 19:03] #252 closed

[2018-01-17 13:44] Telluur opened #258 "Timestamp dependency detection"
Does the detection for timestamp dependency still work?
The contract used as example in the paper http://www.comp.nus.edu.sg/~loiluu/papers/oyente.pdf does not yield a positive flag for timestamp dependency.
Neither does this simple contract:

[code]

Mythril (https://github.com/ConsenSys/mythril) does report a timestamp dependency.

Using Oyente version 0.2.7 pulled from pip, haven't checked the

[2018-01-19 20:20] xuanbachle opened #259 "SLOAD potential error"
SLOAD in oyente when executing with the below solidity code, will have new_var_name as "return greeting", which I think it makes more sense to be "greeting" instead.
==========================
contract mortal {
    /* Define variable owner of the type address */
    address owner;

    /* This function is executed at initialization and sets the owner of the contract */
    function mortal() { owne

[2018-01-19 21:43] xuanbachle commented on #259
Oyente seems to run fine with the code above. But if I make the code to change from: "return greeting;" change to "return (a line break here)
                             greeting;" then Oyente does not recognize greeting as a state variable anymore. The code at SLOAD and for identifying parameter or state variable look rather extremely adhoc and not systematic ...

[2018-01-22 05:54] luongnt95 commented on #258
Hey @Telluur . This condition `if (rand > 100)` is unsatisfied because `rand < 37`

[2018-01-22 08:23] Telluur commented on #258
My apologies, I tried minimalising the code example for this report without completely thinking it through.

If you change the condition `rand > 100` to `rand < 20`  or remove ` % 37` , then `msg.sender.transfer(pot);` should be executable, correct? And if my understanding is correct, the `transfer()` call is dependent on the timestamp.

Oyente does not flag either of those changes as vulnerable

[2018-01-24 08:50] tina1998612 opened #260 "Feature request: Consider also the contracts created by other contracts"
When I tried evaluating my smart contracts with the remix integration with Oyente, I noticed that Oyente did not discover that one of my contracts (say contract A) is only to be created by other contracts instead of normal addresses. An assertion failure is thus raised for the modifier `onlyContractCreator` since Oyente created contract A by a normal address.

Any help or suggestions are welcomed.

[2018-01-30 00:23] lazzarello opened #263 "Rails project in web/ missing npm package.json"
Rails server boots but web application throws exception because missing package.json in /oyente/web

[code]

Manually running `npm install` in `/oyente/web`

[code]

[2018-01-30 22:40] lazzarello commented on #263
this should be fixed in #264

[2018-02-01 06:39] lpassos opened #265 "Exit code of oyente is not consistent"
Oyente returns a non-zero exit code even when it successfully finishes execution.

[2018-02-08 09:04] kosecki123 opened #267 "oyente segmentation fault"
When running oyente on https://github.com/ethereum-alarm-clock/ethereum-alarm-clock it fails with Segmentation fault when analysing contracts/Library/PaymentLib.sol

Tested on

0.2.7 release on OS X
* melonproject/oyente@920fe9d on docker
* Log from 0.2.7 OSX

[code]
Steps to reproduce:

* git clone git@github.com:ethereum-alarm-clock/ethereum-alarm-clock.git
* cd ethereum-alarm-clock
* oyente -s

[2018-02-08 10:41] chapati23 opened #268 "Doesn't work with latest solc 0.4.19 and evm 1.6.7 versions"
<img width="652" alt="screen shot 2018-02-08 at 11 41 06" src="https://user-images.githubusercontent.com/117495/35968732-fa14435c-0cc4-11e8-9826-24506027ecff.png">

[2018-02-26 21:06] lazzarello commented on #263
closed with #264

[2018-02-26 21:06] #263 closed

[2018-02-26 21:07] lazzarello commented on #265
Hey Leo, can you provide some more detail about this issue? Perhaps some example output to reproduce?

[2018-02-26 22:24] lpassos commented on #265
@lazzarello If you submit a file to `oyente` (e.g., save https://github.com/quantstamp/smart-contract-security-database/blob/4054e01366ca56e1645431ff4b0f133566060da1/dao-bug/oyente-paper-example-fig-7.sol as /tmp/input.sol), call it as

[code]

you will see that `echo $?` outputs 1, which in POSIX systems is an error code. However, `oyente` did run successfully, reporting an accurate vulnerability

[2018-02-27 22:23] lpassos opened #269 "Json report is overwritten when input file has many contracts"
Suppose the following input file (supposed the file to be named `koeth.sol`):

[code]

Running oyente as:

[code]

results in:

[code]

From the report above, one can see three vulnerabilities being reported, namely Callstack Depth Attack, Transaction-Ordering Dependence, and Re-Entrancy.

However, if we run `oyente` with the `-j` flag, the corresponding json result only reports re-entrancy. Since

[2018-03-01 18:12] mateuszk87 commented on #199
@leonardoalt: I am really interesting in your work. Would it be possible to verify liveness properties - e.g. in the sense of CTL/LTL?

[2018-03-01 18:17] mateuszk87 commented on #199
Easy example, consider Ethernaut's King Level https://ethernaut.zeppelin.solutions/level/0x32d25a51c4690960f1d18fadfa98111f71de5fa7):

..
 function() external payable {
    require(msg.value >= prize);
    king.transfer(msg.value);
    king = msg.sender;
    prize = msg.value;
  }
Actually what I would like to verify is that the function is always terminated or some condition is true after the fun

[2018-03-02 10:46] luongnt95 commented on #265
@lpassos Oyente will return 1 if it finds any vulnerability. Otherwise, it will return 0

[2018-03-02 18:20] luongnt95 commented on #269
@lpassos Thanks. The bug is fixed now.

[2018-03-02 18:20] #269 closed

[2018-03-02 18:20] #265 closed

[2018-03-04 12:18] leonardoalt commented on #199
@mateuszk87 If the sentence you want to prove can be represented in Solidity, it can also be checked (in a bounded way). There are exceptions such as external calls etc.
If you want to verify liveness in general I guess you would need some CTL/LTL extensions.
You could also just restrict the liveness checks and make custom queries that represent those.

[2018-03-05 09:13] #258 closed

[2018-03-05 16:46] luongnt95 commented on #259
Thanks. The bug is fixed now. [This] (https://github.com/melonproject/oyente/commit/eabaa82a9d612f37c158875f3b46c080909b5ae8) is the commit

[2018-03-05 16:47] #259 closed

[2018-03-08 18:32] fccbb opened #277 "UnicodeEncodeError: 'ascii' codec can't encode character"
% oyente --version
oyente version 0.2.7 - Commonwealth

when I run oyente I get this :

[code]

It's the same message in Docker. Any input would be very appreciated

[2018-03-08 18:38] fccbb commented on #277
my locales are set UTF-8

[code]

[2018-03-12 12:59] polly95 opened #279 "Import errors"
Not sure if I am doing something wrong, but I get the following error when running (latest master version) inside virtualenv:
'python oyente.py -ce -a -s contractSource.sol'

WARNING:root:You are using evm version 1.8.2. The supported version is 1.7.3
WARNING:root:You are using solc version 0.4.20, The latest supported version is 0.4.19
CRITICAL:root:contractSource.sol:3:1: Error: Source "zeppelin

[2018-03-12 23:13] lazzarello commented on #277
#278 was merged. try the latest `master` branch.

[2018-03-12 23:18] lazzarello commented on #268
have you tried the latest release?

[code]

[2018-03-13 11:49] chapati23 commented on #268
sry, we since migrated to mythril, closing this one…

[2018-03-13 11:49] #268 closed

[2018-03-14 08:23] OneCoin5759 commented on #277
Could you put thd master branch images to https://hub.docker.com

[2018-03-15 08:31] OneCoin5759 commented on #277
@luongnt95 thanks

[2018-03-15 08:43] OneCoin5759 commented on #277
@luongnt95 ![image](https://user-images.githubusercontent.com/12327646/37452566-ec0e0cfe-286f-11e8-9640-7612bdb1eaba.png)

[2018-03-15 11:30] luongnt95 commented on #277
@fccbb @OneCoin5759 The url must direct to a raw solidity file instead of a HTML file. eg: `https://raw.githubusercontent.com/phenom-company/ico-smartcontract-appics/master/contracts/ICO.sol` instead of `https://github.com/phenom-company/ico-smartcontract-appics/blob/master/contracts/ICO.sol
`. And you should pull the docker image again.

[2018-03-15 21:30] fccbb opened #282 "TypeError: cannot use a string pattern on a bytes-like object"
[code]

I tried just to test:

[code]

that with the latest master branch, I'm not very familiar with python yet any help would be appreciated cheers

[2018-03-15 22:54] fccbb commented on #282
well to say that I'm not completely useless I've changed the version of solidity in the .sol file from 0.4.19 to 0.4.21 and it worked. Now every contract that doesn't use my version installed I just edit it :)

[2018-03-15 22:56] luongnt95 commented on #282
@fccbb Could you pull the master branch again?. I've fixed the issue.

[2018-03-15 23:07] luongnt95 commented on #279
@polly95 I've just add a --remap argument so that solidity compiler can find an arbitrary directory that you import. Eg: `python oyente.py -ce -a -s contractSource.sol' --remap zeppelin-solidity/contracts/=/<your absolute path>/yourproject/node_modules/zeppelin-solidity/contracts/`. Please pull the code from master branch or use can use docker

[2018-03-16 20:00] fccbb commented on #282
yes it worked now I can use -ru cheers!

[2018-03-16 20:02] fccbb opened #286 "IndexError: list index out of range"
[code]

so this is with the latest master branch, this time though I didn't find a trick to by pass that yet ;-)

[2018-03-17 07:15] #277 closed

[2018-03-17 07:16] #282 closed

[2018-03-17 09:31] luongnt95 commented on #286
The bug is fixed now.

[2018-03-17 10:41] fccbb commented on #286
working now well done thank you ;-)

[2018-03-18 15:24] #286 closed

[2018-03-19 08:39] luongnt95 commented on #267
@kosecki123 Could you try running with: `oyente -s contracts/RequestFactory.sol  -t 5000`

[2018-03-19 08:58] luongnt95 commented on #260
@tina1998612 Could you provide me a sample contract that causes the above problem?

[2018-03-19 16:04] fccbb opened #289 "ContextualVersionConflict: (eth-utils 0.8.1 Requirement.parse 'eth-utils==0.7.*')"
[code]

??
cheers!

[2018-03-19 18:37] luongnt95 commented on #289
@fccbb You can try re-installing web3 with python3

[2018-03-19 18:58] fccbb commented on #289
no I reinstalled eth-abi ;-)

[code]

[2018-03-19 19:00] fccbb opened #290 "ModuleNotFoundError: No module named 'symExec'"
sorry mistake delete this

[2018-03-19 19:03] #290 closed

[2018-03-19 19:15] #289 closed

[2018-03-20 09:58] polly95 commented on #279
hey, sorry to bother again, but for some reason when I use the script the following way:
python oyente.py -ce -a -s contractFolder/contracts/contractName.sol --remap 'zeppelin-solidity/contracts/=/Users/username/Documents/folder1/folder2/oyente/oyente/all/contractFolder/node_modules/zeppelin-solidity/contracts/'

I get the following:
WARNING:root:You are using evm version 1.8.2. The supported vers

[2018-03-21 14:44] luongnt95 commented on #279
Could you take a screenshot? I can't reproduce your problem

[2018-03-21 19:02] polly95 commented on #279
![s1](https://user-images.githubusercontent.com/10896472/37731374-31f8c160-2d42-11e8-9d50-782274365d8a.jpg)
![s2](https://user-images.githubusercontent.com/10896472/37731375-32138d56-2d42-11e8-8fd2-9aff3f344e53.jpg)
Not sure how helpful that is, but the first error happens when I give path/contract/contractName.sol as input
Otherwise, when I give path/contractName.sol the error doesn't occur (as f

[2018-03-22 16:45] nuevoalex opened #291 "Potential spurious Re-Entrancy Vulnerability findings:"
I recently ran the latest Oyente against the contracts in the Augur project, and for the most part the output looks good, but the detection of Re-Entrancy vulnerabilities seems it may have some issues.

The full output from running against all of our contracts can be found here: https://gist.github.com/nuevoalex/d6c05e546189a4dc90802b179e75478a

Here is an example of a case where Re-Entrancy was d

[2018-03-24 15:53] luongnt95 commented on #279
I've added --allow-paths so that you can import an absolute path in your solidity source code. Eg: `python oyente.py -s <your contract.sol> --allow-paths /Users/pollymath/.../node_modules/zeppelin-solidity/contracts/`

[2018-03-26 04:26] luongnt95 commented on #291
Thanks for reporting the bug. Will be working on it

[2018-03-27 16:42] polly95 commented on #279
thanks for this fix, but unfortunately using this flag still give me same empty CRITICAL:root:
not sure if it has anything to do with mac or version of solidity

[2018-03-28 07:02] luongnt95 commented on #279
How do you import zeppelin-solidiy in your contract? Something like: `import 'zeppelin-solidity/contracts/ownership/Ownable.sol'` or `import /Users/pollymath/.../node_modules/zeppelin-solidity/contracts/ownership/Ownable` or a relative path `../path/` ?

[2018-03-28 15:01] polly95 commented on #279
it is import 'zeppelin-solidity/contracts/ownership/Ownable.sol' and it is a subdirectory of a folder within the oyente project

[2018-03-28 17:22] luongnt95 commented on #279
Could you run `solc zeppelin-solidity/contracts/=/Users/pollymath/.../node_modules/zeppelin-solidity/contracts/ownership/Ownable.sol path/contractName.sol` ? Hopefully, there will be a error message.

[2018-04-03 07:35] polly95 commented on #279
Running solc zeppelin-solidity/contracts/=/Users/pollymath/pathToContractFolder/node_modules/zeppelin-solidity/contracts/ pathToContractFolder/contracts/Contract.sol
gives me no errors, only warnings (for public and pure methods)

[2018-04-04 14:57] luongnt95 commented on #279
Could you run this and take the screenshot? `solc zeppelin-solidity/contracts/=/Users/pollymath/pathToContractFolder/node_modules/zeppelin-solidity/contracts/ pathToContractFolder/contracts/Contract.sol --bin-runtime`

[2018-04-05 22:41] alex-murashkin opened #300 "Do not report re-entrancy vulnerability if the argument to CALL is msg.value"
In the following example:
[code]
This case of "re-entrancy" is special because `msg.value` is being passed into the payable method invoked by the `CALL` instruction, and nothing related to the current state of the contract.

Is there a reason to report this as a re-entrancy vulnerability? Even if `subcontract` is compromised, the best the attacker could do is to send `msg.value` to `f1`, which the

[2018-04-05 22:43] alex-murashkin commented on #300
Looks like it would also help eliminate this false-positive from https://github.com/melonproject/oyente/issues/291: https://gist.github.com/nuevoalex/d6c05e546189a4dc90802b179e75478a#file-oyente_output-L878

[2018-04-08 06:50] SabakGaara opened #301 "Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-FAsGZy/eth-account/"
I tried to install oyente using pip2：
[code]
Specs:

python: 2.7.11+
pip:9.0.3

[2018-04-09 07:50] luongnt95 commented on #301
Try running: `pip2 install web3==2.7.0` and then `pip2 install oyente`

[2018-04-09 08:51] SabakGaara commented on #301
It worked,thanks @luongnt95

[2018-04-09 08:51] #301 closed

[2018-04-09 11:48] #267 closed

[2018-04-09 11:48] #260 closed

[2018-04-09 15:15] #300 closed

[2018-04-12 03:51] liyanhrxy opened #303 "install trouble"
I have a trouble in installing the tools ,give me help???

[2018-04-12 12:56] luongnt95 commented on #303
Could you please describe more about the problem you have? Maybe, this could help: https://github.com/melonproject/oyente/issues/301

[2018-04-13 09:25] polly95 commented on #279
hey, sorry for the delay, when running that I do get 'Binary of the runtime part:' for the zeppelins' contracts and no errors, so I guess it works
if nobody else is getting the issue, then maybe it is something with my setup

[2018-04-13 14:08] branciard opened #304 "Integration : Oyente tool launch on iExec"
Hi Oyente Team,

We have successfully test your oyente docker image to be to be launch on iExec. So, smart contracts analyses can we launch on remotes workers.

See here for the test : https://github.com/iExecBlockchainComputing/iexec-dapps-registry/tree/oyenteTest

Are you ok to be listed in this dapps store ? :
https://dapps.iex.ec/

If so, if you have a Oyente logo to provide you can sent it to

[2018-04-16 07:50] retotrinkler commented on #304
Hi @branciard

Yes ofc.

Logos are here https://github.com/melonproject/branding/tree/master/oyente
eg:
https://github.com/melonproject/branding/blob/master/oyente/04_oyente_logo_transparent.png
https://github.com/melonproject/branding/blob/master/oyente/03_oyente_logo.jpg

KR

[2018-04-20 22:14] branciard commented on #304
Thanks. it now added in https://dapps.iex.ec/dapp/oyente

[2018-04-22 08:36] #304 closed

[2018-04-25 21:35] vietlq commented on #290
I got the same error when trying to run on macOS:

[code]

[2018-04-25 22:12] vietlq opened #308 "BEC BatchOverflow: Could not detect the Integer Overflow in multiplication"
The code for BEC BeautyChain BatchOverflow - https://pastebin.com/REGRKaYQ

The line 257 has a risk of integer overflow and was exploited by attackers:

[code]

Check: https://etherscan.io/tx/0xad89ff16fd1ebe3a0a7cf4ed282302c06626c1af33221ebe0d3a470aba4a660f

The report by oyente flagged a false positive but skipped the line 257 that was really crucial.

[code]

More details: https://twitter.com/v

[2018-04-26 10:09] luongnt95 commented on #308
Hi @vietlq . Currently, Oyente only detects overflow caused by addition. Will consider adding support for other operations like: multiplication or division, ...

[2018-04-26 10:12] #303 closed

[2018-04-26 13:01] vietlq commented on #308
@luongnt95 out of curiousity, if I want to add a new check like integer multiplication overflow, where do I start and how do I do it?

I tried building & running oyente on Mac and there are rough edges that can be smoothen out, but that's for another PR/issue.

[2018-04-26 13:33] vietlq opened #309 "Remove global variables, use proper class/OOP encapsulation"
The file and some files have quite a few global variables:

https://github.com/melonproject/oyente/blob/3fc108ca550aa5270ea5368fdb685b94f0e17450/oyente/symExec.py

Global variables introduce unnecessary complexity and signal poor design/security. This can be solved by proper OOP encapsulation and treat them as class data members. This also allows you to run multiple verifiers in parallel within th

[2018-04-26 13:36] vietlq opened #310 "PEP8: Use flake8 & yapf for readable & beautiful Python code"
I'm happy to help with this one. The tools are located at:

https://github.com/PyCQA/flake8

https://github.com/google/yapf

[2018-04-26 13:39] vietlq opened #311 "Testing: Use Pytest & Tox for automated Python testing"
Using Pytest & Tox for automated testing will make CI/CD much easier and code safer. Happy to help with this one, but I need some help to familiarize with Oyente for testing.

http://tox.readthedocs.io/en/latest/example/pytest.html

[2018-04-26 13:40] vietlq opened #312 "Add guide for installing & running on macOS"
I went through some pain installing & running on macOS. Will add PR with guide.

[2018-04-26 13:41] vietlq commented on #124
Any updates or clarification on this? @loiluu @inian

[2018-04-26 18:28] lazzarello commented on #312
The recommended way to install on macOS is via Docker.

[2018-04-26 19:07] vietlq commented on #312
That's very poor usability if limited to Docker. We have macOS & Windows for a reason. Plus, I also got things working on macOS, no so reason constraining to Linux/Docker only.

[2018-04-26 19:36] vietlq opened #313 "proxyOverflow: Oyente fails to detect Integer Overflow in ADD"
Check the line 206:

[code]
Use https://pastebin.com/fQmRBmQj or https://etherscan.io/address/0x55f93985431fc9304077687a35a1ba103dc1e081#code

I ran Oyente and it fails to detect this simple case.

[2018-04-26 19:37] vietlq commented on #313
@luongnt95 note that Integer Overflow in ADD is not working that well.

[2018-04-26 19:48] vietlq commented on #313
Oyente even fails to detect this simple overflow:

[code]

Result:

[code]

[2018-04-26 21:03] luongnt95 commented on #313
`if(balances[_from] < _feeSmt + _value) revert();` is the same as `require(balances[_from] < _feeSmt + _value)` which Oyente consider as being a false positive. Do you have any idea to distinguish between the REVERT created from `require` and `revert`.

[2018-04-26 21:05] luongnt95 commented on #313
The second contract is fixed with this [commit](https://github.com/melonproject/oyente/commit/351a6e1d69732f460fca25852815bcf2a25cae03)

[2018-04-27 05:40] vietlq commented on #313
@luongnt95 May I ask if these 2 compile to the same OP code?
* `if(balances[_from] < _feeSmt + _value) revert();`
* `require(balances[_from] < _feeSmt + _value);`

If yes, only then you should treat them the same.

As for the fix, you can see overflows in both cases and both `require` & `if + revert` fail to catch! They can only catch when there's no overflow!!!

So in both case you should check t

[2018-04-27 05:41] vietlq commented on #313
@luongnt95 I want to give you more context about proxyOverflow if you haven't seen the vulnerability exploitation: https://peckshield.com/2018/04/25/proxyOverflow/

[2018-04-27 05:49] vietlq opened #315 "Flag CALLCODE as deprecated and suggest CALL/DELEGATECALL"
CALLCODE is now deprecated and unsafe due to bug in implementation. People are advised to use CALL or DELEGATECALL instead.

[2018-04-27 05:54] vietlq commented on #241
The current design of Oyente uses so much of global variables that makes it difficult to maintain and scale (run in multiple-threads). I raised an issue about refactoring that can help to launch multiple-threads after removing all global variables:

https://github.com/melonproject/oyente/issues/309

[2018-04-27 06:08] vietlq commented on #313
I also found this merge that treats overflows in revertible cases as false positives, but as said before and with given examples, this assumption is not correct:

https://github.com/melonproject/oyente/pull/306/commits/1d1542ff006674eac8499981557b225e00f73fbb

[2018-04-27 06:30] luongnt95 commented on #313
Thanks @vietlq I know all this stuff.
- Yeah, `require` and `if revert()` is compiled to the same opcodes.
- The #306 commit will help flag `require(a + _value >= a); a += _value`  as a false positive, otherwise `a + _value` is an overflow

[2018-04-27 07:51] vietlq commented on #313
I think it's OK to revert/replace/enhance #306 because people should be using the `SafeMath` library instead of writing those lines again and again.

https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/math/SafeMath.sol

So `require(a + _value >= a); a += _value`  will be a reminder to use `SafeMath`, not a false positive. Eventually Solidity needs a standard library and fo

[2018-04-27 08:44] luongnt95 commented on #315
Will add this soon

[2018-04-27 08:48] luongnt95 commented on #290
@vietlq It's appreciated if you could make a PR for this. I don't have macOS installed so not sure what goes wrong

[2018-04-27 08:53] luongnt95 commented on #310
Awesome!

[2018-04-27 08:58] vietlq opened #316 "Add database of vulnerable Solidity contracts"
Oyente is limited to analysing OP codes but they are not human friendly. I would suggest to add a DB of vulnerable Solidity contracts. If you are OK, I will create a PR with a few vulnerable Solidity contracts.

[2018-04-27 08:59] vietlq commented on #316
Related: https://github.com/melonproject/oyente/issues/313 & https://github.com/melonproject/oyente/issues/308

[2018-04-27 09:01] vietlq opened #317 "Add guide to generate test data from Solidity"
@luongnt95 I want to generate test data like in https://github.com/melonproject/oyente/tree/master/oyente/test_evm/test_data with input being Solidity files. I'm quite curious how to generate those JSON files.

[2018-04-27 09:07] vietlq commented on #310
@luongnt95 Great, I will create PR for that :)

[2018-04-27 09:12] luongnt95 commented on #311
https://github.com/melonproject/oyente/blob/master/CONTRIBUTING.md is the opcode testing instruction. It would be great if we could add integration testing with the inputs are smart contracts and the outputs are expected vulnerabilities. Plmk if you need more help.

[2018-04-27 09:17] vietlq opened #318 "Upgrade so Oyente can run with Python2 & Python3"
Currently Oyente supports only Python 2.7 which is being phased out soon. Time to upgrade. Most of changes are simply adding parentheses to `print x => print(x)`

[2018-04-27 09:29] vietlq commented on #318
@luongnt95 Also web3.py requires Python >= 3.5 and < Python 4, so basically the tool itself requires 2 different versions of Python to run: 2.7 for Oyente and 3.5, 3.6 for web3.py. That's really unclean and I suggest to migrate to Python3 and fully use Python 3.5 for additional benefit for type annotation for safety: https://www.python.org/dev/peps/pep-0484/

Happy to help with migration bit by bi

[2018-04-27 09:36] vietlq commented on #310
There are lots of style errors detected by Flake8:

https://travis-ci.org/vietlq/oyente/jobs/371942593

[2018-04-27 09:37] vietlq opened #319 "Add Travis CI"
Scope:

* Test cases
* Dependencies
* Support for various Python versions
* Pylint
* Style guide

[2018-04-27 09:38] vietlq commented on #319
@luongnt95 I already added Travis CI for my fork and currently support style guide with Flake8: https://travis-ci.org/vietlq/oyente/jobs/371942593

Feel free to merge the PR and keep this issue open as I will keep adding:

* Test cases
* pip dependencies
* Support for various Python versions
* Pylint

[2018-04-27 10:01] luongnt95 commented on #318
Oyente currently uses `six` package to support both python2 and python3. And Yeah, the installation has the problem with web3 when the py2.7 version of web3 is deprecated now. Just feel free to make a PR

[2018-04-27 10:04] luongnt95 commented on #317
https://github.com/ethereum/tests/tree/develop/VMTests

[2018-04-29 17:44] postables commented on #309
IMO this should be completely rewritten from python to golang, or include mult-threaded processing.

[2018-05-07 01:02] vietlq opened #322 "Fix Remix + Oyente web UI that fails"
The link: https://oyente.melon.fund/#version=soljson-v0.4.23+commit.124ca40d.js

I consistently get the error: `Solidity compilation failed`

Also the UI is a bit malformed (see the top-right menu).

[2018-05-07 01:03] vietlq commented on #290
@luongnt95 sure :)

[2018-05-07 08:43] vietlq commented on #319
Bots for consideration:

* https://github.com/bluzi/travis-buddy
* https://github.com/barosl/homu

[2018-05-14 14:42] arun-munagala opened #324 "bytecode evaluation"
How can i input just the bytecode of a contract?
i tried  "python oyente.py -s example.bytecode -b"
but it returns with the following error:
WARNING:root:You are using evm version 1.8.6. The supported version is 1.7.3
WARNING:root:You are using solc version 0.4.23, The latest supported version is 0.4.19
encoding/hex: invalid byte: U+0078 'x'
INFO:symExec:	============ Results ===========
INFO:symE

[2018-05-15 03:13] luongnt95 commented on #324
It seems that you're using the old code. You should pull the latest code or use docker instead.

[2018-05-15 07:02] arun-munagala commented on #324
Thank you for the reply. I did a pull but i get the same error. There are no issues when i run url example or do it on a source code contract.
Is there any particular format or type of file the bytecode should be in?
I just copied the bytecode from etherscan and pasted in a text file locally and used the above command. Did i do something wrong here?

[2018-05-15 07:03] arun-munagala commented on #324
p.s. i am yet to try in docker. but wanted to know if it runs like this

[2018-05-15 07:08] arun-munagala commented on #324
Just more information. the example.bytecode file contains this:
'0x606060405260e060020a600035046369425ebe8114601a575b005b60186001544210603f5760005473ffffffffffffffffffffffffffffffffffffffff16ff5b600256'
Some random bytecode found in etherscan.io

[2018-05-16 02:50] GuminTom opened #325 "Can oyente inspect contracts in one path?"
A contract may include many solidity files, how oyente inspect the contract?
Besides , we hope oyente can inspect multiple contracts at once too.

[2018-05-16 05:54] luongnt95 commented on #324
You should remove the prefix '0x'

[2018-05-16 06:02] luongnt95 commented on #325
If a contract includes many solidity files, Oyente will also inspect contracts in these files.

Do you want Oyente to run with multiple contracts which are not related to each other?

[2018-05-16 06:04] luongnt95 commented on #318
@suhabe I think this https://github.com/melonproject/oyente/issues/301 can help at the moment

[2018-05-16 07:57] arun-munagala commented on #324
Ah okay! thank you.

[2018-05-16 07:57] #324 closed

[2018-05-21 12:56] TonyZhouCH opened #326 "Is there any problem that all my input are bytecode ?"
Hi! The latest supported version of solc is 0.4.19, while the newest version is 0.4.24. I read oyente.py to find out that if source file is a solidity file, it will be compiled into bytecode by solc later, while bytecode input will skip this step.   So is there any problem that if all my input are bytecode so that I don't have to worry about the solc version, no matter what version the solidity fi

[2018-05-22 05:59] TonyZhouCH commented on #326
Thank you!

[2018-05-22 06:00] #326 closed

[2018-05-22 15:36] franklinsch opened #327 "Specifying bytecode's ABI"
When using the `--bytecode` option, the code coverage is low as Oyente probably doesn't know which public functions the contract has.

Is there an option to specify a JSON ABI to help Oyente find the functions to analyze?

[2018-05-23 12:56] fmgoncalves opened #328 "`--allow-paths` flag missing on some solc invocations"
If trying to analyze a smart contract that has a linked library and requires using the `--allow-paths` flags, oyente will report a solc failure to compile, because although the first pass compilation respects the given flag and succeeds, the second pass -- where libraries are linked -- does not.

[2018-05-25 08:46] #328 closed

[2018-05-28 02:06] joeykrug commented on #197
This works now

[2018-05-28 02:06] #197 closed

[2018-05-28 12:51] TonyZhouCH opened #330 "what is "new_path_condition" in analysis.py when checking reentrancy bug?"
When checking reentrancy bug in analysis.py (Line 39), what is the "new_path_condition"? Thank you!

[2018-05-31 06:40] luongnt95 commented on #327
No, there's not

[2018-05-31 06:40] #325 closed

[2018-05-31 21:24] alex-murashkin opened #331 "Specify exact version of `web3` in Dockerfile"
Seems like Web3.py recently got updated and no longer supports Python 2.7 (compare https://pypi.org/project/web3/4.2.1/ to https://pypi.org/project/web3/3.16.5/ , the `supports` list)

However, the present `Dockerfile` seems to use Python 2.7

To work around that, could replace `RUN pip install requests web3` with `RUN pip install requests web3==3.16.5` to use the exact web3 version that is still

[2018-05-31 21:34] alex-murashkin opened #332 "Dockerfile: web UI commands aren't working / possibly outdated?"
```docker build -t .```
At the end it says:
[code]

[2018-06-02 05:01] TonyZhouCH opened #333 "How to input bytecode?"
I get the contract bytecode via eth.getcode(). But I have trouble in putting it into oyente. How do I store the bytecode? I tried using vim to put the bytecode into textfile and the oyente threw the error. And I also tried putting into binary file and also failed. Is there something I did wrong?

[2018-06-05 14:28] MakingStuffs opened #334 "Does not wok past solidity 0.4.17"
Hey guys I am trying to use your system but it does not appear to work past the version of solidity mentioned above.

Is there a plan to include this? I tried to use your service by putting my contract to use that compiler but then it starts producing weird errors.

[2018-06-15 18:43] tinchoabbate opened #335 "Callstack Depth Attack is no longer possible"
Oyente still reports the vulnerability Callstack Depth Attack.

![image](https://user-images.githubusercontent.com/8171248/41484295-a743b64c-70b2-11e8-9436-7ec488ea6868.png)

However, according to the following sources, this vulnerabilitydoes not longer exist:

- https://consensys.github.io/smart-contract-best-practices/known_attacks/#call-depth-attack-deprecated
- https://ethereum.stackexchange.c

[2018-06-18 08:32] unboxedtype commented on #301
I had the same problem as mentioned by gulshanvasnani.
So I changed command slightly:
pip2 install web3==2.7.0 eth-hash==0.1.0
There were several versions of eth-hashed released since 0.1.0; not sure how bad this solution is.

[2018-06-18 22:03] lazzarello commented on #332
#336 should fix this build. waiting on review and merge.

[2018-06-18 22:04] lazzarello commented on #331
#336 should fix this, using the Ubuntu `update-alternatives` system. Waiting on review and merge.

[2018-06-18 22:05] lazzarello commented on #318
#336 should address this using the Ubuntu `update-alternatives` system. Check the Dockerfile for references or just run the code in an image built from that Dockerfile.

[2018-06-18 22:11] lazzarello opened #337 "Build Rails API controllers to expose REST endpoints"
Currently, the controller responsible for the web UI uses a standard Ruby on Rails app. To provide an HTTP endpoint that returns JSON data outside of the web UI, a [Rails API controller can be added to the project](http://api.rubyonrails.org/classes/ActionController/API.html).

I'll be working on this in a branch. PR forthcoming...

[2018-06-18 22:43] lazzarello opened #338 "Upgrade Rails app to Ruby 2.5.1"
The latest release of Ruby is version 2.5.1. The code in `web/app/controllers/home_controller.rb` is not compatible with this version due to changes in the `Dir::Tmpname` API. The code should be updated to use only the [Dir API](https://ruby-doc.org/stdlib-2.5.1/libdoc/tmpdir/rdoc/Dir.html), which is backwards compatible. The following example shows this.

[code]
[code]

[code]
[code]

[2018-06-21 02:36] #333 closed

[2018-06-21 10:43] gianmarco27 commented on #334
I'm having a similar problem but with newer versions, i've seen the latest version supported currently is `solc 0.4.19` and `EVM 1.7.3`

Are you planning any coming support for `solc 0.4.21` and `EVM 1.8.2` ?

Right now, with those versions installed each compilation fails

[2018-07-02 22:16] dmdque commented on #301
This should be added to the readme.

[2018-07-05 22:38] cryptomental opened #339 "False positives Augur project"
Hi @luongnt95 we are trying to fix false positive results in Augur project for

* Assertion Failures
* Re-Entrancy Vulnerability

See

https://github.com/AugurProject/augur-core/issues/689

Is there a feasible way to achieve this or do we depend on z3 solver?

I came up with a workaround to not return 0 code for a subset of vulnerabilities *but* we would like to make sure that false positives are

[2018-07-07 20:23] yxliang01 opened #340 "Dockerfile always install the latest version of geth and solc"
So, the current `dockerfile` would install `ethereum` and `solc` package from ethereum official PPA. However, they are delivering versions of both software newer than the currently supported versions. As a result, when running oyente container, it will give two warnings about installed versions of them are too new.
e.g. `You are using evm version XX. The supported version is XX`

This previously h

[2018-07-09 12:43] cryptomental commented on #339
I am attaching a full Oyente log with debug log enabled.
[oyente.debug.txt](https://github.com/melonproject/oyente/files/2176161/oyente.debug.txt)

[2018-07-13 11:14] walterliang opened #342 "how to update the evm version and solc version?"
log:
WARNING:root:You are using evm version 1.8.2. The supported version is 1.7.3
WARNING:root:You are using solc version 0.4.21, The latest supported version is 0.4.19
CRITICAL:root:Solidity compilation failed. Please use -ce flag to see the detail.

[2018-07-13 14:58] yxliang01 commented on #342
@walterliang did you mean downgrade? Since the WARNINGs are saying that the versions are too new. Did you mean how to modify the codebase to support newer version?

[2018-07-16 06:39] SiddharthOX opened #343 "Cant Use abi.encodePacked"
Hello,
When I am trying to compile smart contracts on the oyente tool . It is throwing error like:

 root@8a4bae6ba51f:/oyente/oyente# cd /oyente/oyente && python oyente.py -ce -s tokenica/TokenIOFeeContract.sol
WARNING:root:You are using evm version 1.8.2. The supported version is 1.7.3
WARNING:root:You are using solc version 0.4.21, The latest supported version is 0.4.19
CRITICAL:root:tokenica/T

[2018-07-18 05:55] walterliang commented on #342
yes!
 how to modify the codebase to support newer version?

[2018-07-18 05:57] yxliang01 commented on #342
@walterliang I guess you have to check the difference of the `solc` between the latest supported version and the newer version that is beyond the support version. Then, read the oyente source code to see how oyente is relying on `solc`. Lastly, evaluate whether the new updates affect the way oyente interacts with `solc`.

[2018-07-18 06:21] walterliang opened #344 "when i defining the construtors with constructor(), the script run fail!"
![image](https://user-images.githubusercontent.com/26303684/42862807-a12fd5ce-8a93-11e8-9ebf-78bf21340f8b.png)

[2018-07-19 06:36] cryptomental commented on #339
Hi @yxliang01 there has not been any reply since two weeks but I noticed that you commented on another ticket yesterday. Is the Oyente project still maintained? And would it be possible to have a look at https://github.com/AugurProject/augur-core/issues/689 and check if false positives could be in any way excluded? If not I will open a PR to Augur to simply treat those assertions as non-errors.

[2018-07-19 08:07] yxliang01 commented on #339
Hello @cryptomental , I actually don't know whether this is still being maintained. I have tried to have a look at the error:
[code]
But, I couldn't see the `assert` statements that are failing. Maybe I missed something and you can elaborate more?

[2018-07-20 02:43] #340 closed

[2018-07-20 08:15] 77aq commented on #324
It works for some contracts. But  some bytecodes still report the error after remove the prefix '0x'.
I did not use docker.
The example.bytecode files are :

[YAMBYO.txt](https://github.com/melonproject/oyente/files/2213085/YAMBYO.txt)
[YES.txt](https://github.com/melonproject/oyente/files/2213078/YES.txt)

[2018-07-20 11:39] cryptomental commented on #339
Hi @yxliang01 thank you a lot for looking into this. This is exactly the case - there are no assert statements and assertions should be marked as false positives. I implemented a workaround where the assertions are treated as warnings not as errors but perhaps there is a way to fix this on Oyente side. But if the project is not actively maintained I would stay with the workaround and inform the Au

[2018-07-20 12:58] cryptomental commented on #339
Hi @yxliang01 again, I upgraded Z3 solver and those false assertions are gone, but the analysis was just half done as it segfaulted https://github.com/AugurProject/augur-core/issues/689 , I will try to find a version that does not segfault.

[2018-07-20 13:04] yxliang01 commented on #339
@cryptomental  This is interesting. Have seen Oyente finished checking `Trade.sol` without reporting any Assertion Failure?

[2018-07-20 13:12] cryptomental commented on #339
Hi @yxliang01 it did not get to that point, I pasted the whole log for you here https://gist.github.com/cryptomental/c5ff857becfeda48c8c0fbb432eeba90

[2018-07-20 13:46] yxliang01 commented on #339
@cryptomental as far as I see, for the contracts that previously said containing assertion failure, they either hasn't been scanned before segfault or they are still being reported as having this vulnerability. So, I didn't see that false assertions are gone.

[2018-07-20 14:16] cryptomental commented on #339
Hi @yxliang01 the assertions there are 'true' assertions. The only one found was for Cash.sol, where indeed the assertion could have been triggered.

[code]

I opened a ticket in Z3 space for the segfault.

[2018-07-21 12:30] postables opened #345 "Install fails due to web3 and python3, even though attempting to install via python2"
[code]

As in the documentation, oyente is attempting to be installed via pip2, however the installation fails

[2018-07-27 13:17] fmgoncalves commented on #344
The `constructor` keyword was introduced in [solc 0.4.22](https://github.com/ethereum/solidity/blob/develop/Changelog.md#0422-2018-04-16) and you are using _0.4.21_ as per your screenshot.

Take into account that, as the warning says, _oyente_ is expects _evm_ code generated by _solc 0.4.19_, so you may run into further issues even if you update _solc_.

[2018-07-31 07:47] WYANG008 opened #346 "latest solidity version is 0.2.24"
The latest solidity version is 0.2.24. compilation error will be thrown if i am using 0.2.24

[2018-07-31 10:00] WYANG008 commented on #346
WARNING:root:You are using evm version 1.8.2. The supported version is 1.7.3
WARNING:root:You are using solc version 0.4.21, The latest supported version is 0.4.19

[2018-08-16 13:57] srisankethu commented on #290
@luongnt95 This issue was not complete. When doing ``sudo python3 setup.py install`` results in this error. Fixed this error in #347 .

[2018-08-22 06:57] zxhubo opened #348 "the oyente can not find issue"
I have been write a test contract,the code is
[code]
then ,I installed oyente by docker,and run command :python oyente.py -s Test.sol. but the result is that this is no issue ;
root@c5571baca9e7:/oyente/oyente# python oyente.py -s Test.sol
WARNING:root:You are using evm version 1.8.2. The supported version is 1.7.3
WARNING:root:You are using solc version 0.4.21, The latest supported version is 0.4

[2018-08-23 23:46] shashank-srikant opened #349 "Quickest way to see reports per Contract"
What's the quickest/easiest way to run Oyente on a file containing multiple contracts, and viewing reports for every contract that appears in the file.

Currently, Oyente produces just one consolidated report for an input file.

[2018-08-25 04:33] JonHaas commented on #348
The warning is transparent as to why: `WARNING:root:You are using solc version 0.4.21, The latest supported version is 0.4.19`

The version of Solidity you're trying to analyze is not supported, thus appropriate checks (such as detecting the overflow) are not present.

[2018-08-25 20:37] s0b0lev opened #350 "Update Python package pypi"
Issue with oyente installation. Current version https://pypi.org/project/oyente/#description , doesn't have README.md inside, which cause error during installation:

[code]

[2018-08-28 18:04] lazzarello commented on #346
it appears #341 addresses this issue. Is that correct?

[2018-09-05 06:40] sean0523 commented on #345
same problem & have no idea

[2018-09-05 07:38] yxliang01 commented on #345
It's because `oyente` didn't specify which version of `web3` to use, so `pip` tries to install the latest version of it. Sadly, the latest version of `web3` requires Python >= 3.5 ....

[2018-09-19 11:18] Messi-Q opened #351 "how to deal with the version question?"
WARNING:root:You are using evm version 1.8.2. The supported version is 1.7.3
WARNING:root:You are using solc version 0.4.21, The latest supported version is 0.4.19
CRITICAL:root:Solidity compilation failed. Please use -ce flag to see the detail.

[2018-09-19 11:32] Messi-Q commented on #351
another question
WARNING:root:You are using evm version 1.8.2. The supported version is 1.7.3
WARNING:root:You are using solc version 0.4.21, The latest supported version is 0.4.19
Traceback (most recent call last):
  File "oyente.py", line 221, in <module>
    main()
  File "oyente.py", line 206, in main
    f.write(code)
UnicodeEncodeError: 'ascii' codec can't encode characters in position 3068-

[2018-09-25 08:30] molly1214 commented on #351
The same problem.

[2018-09-25 14:50] yxliang01 commented on #351
Please see https://github.com/melonproject/oyente/pull/341

[2018-09-25 14:56] yxliang01 opened #352 "Status of oyente project"
Hello members of Oyente project, I(we) would like to know the status of this Oyente project now. E.g. discontinued, low-priority, etc... I'm asking this because there are many open issues and one PR that don't have any comment from your team. I think it would be better if the status of this project can be known by the community.

Thanks for making Oyente!

CC: @luongnt95 @loiluu

[2018-09-25 15:47] loiluu commented on #352
Hey @yxliang01 I believe @luongnt95 is currently maintaining it, though he may have other higher priority concerns. We at Kyber Network team are looking for a couple of people to actively maintain Oyente, if you are interested and have relevant background, please let us know.

[2018-09-26 13:45] yxliang01 commented on #352
@loiluu Thanks for your info. As I'm planning to make use of Oyente as of now, I might fix bugs when they eventually prevent me from using it. However, I'm afraid that I don't have much time for really maintaining this. But, if you need to, I'm happy to help review pull requests and answer questions in the repo if I'm available.

[2018-10-01 15:35] yxliang01 commented on #352
Okay I think the status of Oyente is clear to me now. Thanks @loiluu

[2018-10-01 15:35] #352 closed

[2018-10-08 05:12] goyalvartul opened #353 "disasm is missing. Please install go-ethereum and make sure that disasm is in path."
**disasm is missing. Please install go-ethereum and make sure that disasm is in path.**

This is above error message that I am getting when running oyente file. Please suggest what needs to be done. I have installed with all steps. This is with Ubuntu 64 bit version.

Please let me know the solution on urgent basis.

[2018-10-17 06:08] JsHuang commented on #348
because both var a and b are real ,so no integer overflow will occur.

[2018-10-17 09:07] yxliang01 commented on #339
@cryptomental Hey! I'm wondering what the progress on this issue is at the moment. For the issues I can find on Github, looks like it's paused? Or, is it?

[2018-10-23 20:58] johnbender opened #358 "`evm disasm` has changed which appears to cause issues with the tokenizer"
https://github.com/ethereum/go-ethereum/releases/tag/v1.8.17

This is causing errors in `symExec.py` as the hex values are sneaking into the tokenized output.

[2018-10-26 18:53] johnbender opened #359 "Segfaults with z3-solver version `4.8.0.0`"
I was able to reproduce on nearly any contract.

Using an older version (in my case `4.5.1.0`) solved the issue. Maybe consider providing constraints in a `requirement.txt` or in `setup.py`?

If you have issues reproducing this I can post contract that will reproduce.

[2018-10-30 14:14] Xcrab opened #360 "Exception:Source map error"
If the contract is normal,this tool can  works fine,but when the contract have some security bugs(like the Puzzle in the paper),it always tell me "Source map error",why?

![screenshot from 2018-10-30 21-56-53](https://user-images.githubusercontent.com/20314873/47723902-7ae48c80-dc90-11e8-8a8a-3b7cc7a1500f.png)

[2018-10-30 15:58] yxliang01 commented on #360
Are you using the compatible compiler and evm? @Xcrab

[2018-10-30 16:14] Xcrab commented on #360
I use evm version 1.8.17 and solc version 0.4.25,Must be use evm version 1.7.3 and solc 0.4.19?

[2018-10-30 16:16] Xcrab commented on #360
I use evm version 1.8.17 and solc version 0.4.25,Must be use evm version 1.7.3 and solc 0.4.19?

[2018-10-30 17:14] yxliang01 commented on #360
I am not sure. But I suspect that the source map functionality might not be compatible with the newer versions. Would you like to try degrading and see whether it works for the same setup and input?

[2018-10-31 09:16] Xcrab commented on #360
I try degrading and it work！！！Thanks for your suggestion.(I use evm version 1.7.3 and solc 0.4.25)

[2018-10-31 16:56] yxliang01 commented on #360
Welcome. So, again, this is related to issues like https://github.com/melonproject/oyente/issues/346 and many others. Hope the Oyente team can make it support the newer versions. @luongnt95 I think you are the only maintainer now. Is there any plan to do this?

[2018-11-02 16:58] yxliang01 commented on #360
Well, you could have used the `Dockerfile` to build a docker image. In this way, you don't need to downgrade. But, don't use the docker image built by @luongnt95 at the moment. Since it will still have this problem until @luongnt95 rebuilds on the code base after the PR https://github.com/melonproject/oyente/pull/341 and push to dockerhub.

[2018-11-05 08:12] TlxTejaswi opened #361 "Vulnerabilities Detected by Oyente"
Hello Group,

I am researching on various tools for detecting smart contract vulnerabilities and came across Oyente. Through certain documents along with running some tests ran locally on my system, I got to know that besides ensuring good EVM code coverage Oyente catches the following vulnerabilities:

Re-entrancy
Integer overflow/underflow
Transaction order dependence
Timestamp dependence
Callst

[2018-11-05 13:10] yxliang01 commented on #361
@TlxTejaswi I think you can just refer to their paper (making smart contract smarter)?

[2018-11-06 04:14] TlxTejaswi commented on #361
Thanks for the response yxliang01. I have referred to the paper titled "Making Smart Contracts Smarter", and there the vulnerabilities listed are:

Transaction Ordering Dependence
Timestamp Dependence
Mishandled Exceptions
Re-entrancy vulnerability

I have tested the tool against a sample contract and that could detect 8 critical vulnerabilities. So I just want to know whether the 8 is the final o

[2018-12-23 18:26] yxliang01 opened #362 "Status of -gtc switch"
Looks like the `-gtc` has no functionality at `master` branch. Is this implemented anywhere? @luongnt95

Thanks!

[2018-12-23 18:34] yxliang01 commented on #362
Oops, I somehow overlooked... It is working. Closing this.

[2018-12-23 18:34] #362 closed

[2018-12-28 11:05] div-code opened #363 "Understand a vulnerable contract marked by Oyente"
Hello,

I am interested in this tool and played a bit with it. So far Oyente told me that the following contract is vulnerable regarding `reentrancy` bug:

https://etherscan.io/address/0xd4fa166d5ffe8f78230fc05e6850881dc08b2da2#code

However, it seems a bit confusing here, because basically I am not able to even find a `sstore` instruction in the disassembled output:

https://ethervm.io/decompile?

[2019-01-10 16:32] yxliang01 commented on #199
Hey @leonardoalt ! I am really interested in OBMC , I think it sounds really cool. I am wondering, have you finished implementing it?

Thanks

[2019-01-10 16:40] yxliang01 opened #364 "Printing all path conditions not working?"
Hello @luongnt95 .

I have tried using `-p` to let Oyente printing all path conditions. However, it has been printing only one wrong path condition. Then, I try to understand the relevant code realizing that the variable `path_conditions` is not really updated. Is this functionality not fully implemented?

Thanks

[2019-01-28 08:36] daanwa commented on #360
Any news if newer versions of evm and solc are going to be supported?

[2019-01-28 18:08] Maryam-Imani opened #365 "generate-graphs.py"
What are 'sat_stats.json' and /..../contract*.json files in generate-graphs.py?

[2019-01-28 18:12] yxliang01 commented on #360
@daanwa I truly hope there will be... but I don't know.. The develop team doesn't look active..

[2019-01-31 13:13] Ooqu4 commented on #301
When trying the solution of https://github.com/melonproject/oyente/issues/301#issuecomment-397980803, I now get a further error:

[code]

#### Solution:
Additionally specify the version of `eth-utils` to be `1.0.1`.

[code]

Note: I chose version number `1.0.1` because it was released roughly at the same time as version `0.1.0` of `eth-hash`, and I guessed that those versions are probably compatib

[2019-02-22 13:35] oldgoubi commented on #353
HelIo, I hava the same question,in the go-ethereum1.5.X(before 1.6.0),disasm is in the folder named cmd.But I haven't solve this problem yet

[2019-02-22 14:04] yxliang01 commented on #353
@oldgoubi Then have you add the `cmd` folder in your `PATH` variable?

[2019-03-22 08:56] chenhan0027 commented on #360
hi, how to downgrade the version of evm and sold? @Xcrab

[2019-03-22 11:04] bishwascg opened #366 "What is Money Concurrency bug?"
The JSON results show an entry for money concurrency bug. Can anyone explain what the bug is?

[2019-03-23 05:42] matYang commented on #360
Any plans to support Solidity 0.5+ ? I finally got the right evm and solc in docker to work with oyente, but getting a consistent source map error on sol 0.5+ contracts.

[2019-05-14 14:19] #350 closed

[2019-07-03 07:00] KaruppuRajaN commented on #353
https://medium.com/@cryptoexporters/oyente-installation-errors-and-solution-81cfb5c64c8d?source=friends_link&sk=c61cb87c041a06083da5021487c357b5

[2019-07-15 09:33] HarryR opened #368 "ecrecover related bugs are not detected"
## Description

It doesn't detect `ecrecover` failing upon invalid input

## How to Reproduce

See the following piece of code:

https://gist.github.com/HarryR/cce52596ffebdff2744c5d790888015a

This was caused by a compiler bug in Solidity < 0.4.14, where the output memory area for the `ecrecover` call wasn't cleared, which means in the case of an invalid signature the memory may contain user-cont

[2019-07-18 07:19] locpv-ibl commented on #334
I'm struggling with these compilers as well. This is so painful though, why they don't make a solc version argument for this to switch between the versions itself?

[2019-07-18 09:20] yxliang01 commented on #334
Maybe https://github.com/melonproject/oyente/pull/341 is the way to go for now?

[2019-09-12 07:02] xf97 opened #369 "How many smart contract problems can Oyente detect today？"
Hello, I am a graduate student from Hohai University. I just read the paper Making smart contract smarter, and I also used Oyente, I found that the existing Oyente can detect more kinds of smart contract problems than the paper mentioned. Would you please let me know what kind of smart contract problems Oyente can detect now? What are the test criteria for each problem? I'm sorry to disturb you, b

[2019-09-15 00:54] xf97 commented on #369
Thank you for your reply, which has helped me. Well, I find that there are many problems in the Ethereum smart contract, and there are many tools to detect these problems. But it seems that no tool can cover all the problems, which may cause inconvenience to developers. If I'm a developer who wants to know if there are some problems with my smart contract, I have to use several tools to test my co

[2019-09-15 07:05] yxliang01 commented on #369
@xf97 Right. My understanding is that you are surveying different smart contract vulnerability detection tools. There are multiple papers have sort of surveyed the famous tools at the time they published, probably you want to have a look if you haven't. Good luck with your work and yes hope it will be useful to me. :)

[2019-09-15 07:09] yxliang01 commented on #369
Just my 2 cents, I haven't seen any open-source detection tool covers all known vulnerabilities. While it's possible, there is also some constraints of the techniques they are based on. e.g. hard reason about possibility of integer overflow using solely static analysis. I've noticed that `mythx` is said to be using both symbolic execution and static analysis to have both accuracy and efficiency. H

[2019-09-16 07:03] xf97 commented on #369
This field has been developing very fast (ps. the first paper I read about smart contract security detection is "Making smart contract smarter"), based on my current investigation, as you said. The better ones are Mythx, Slither and SmartCheck, who claim to be able to detect a wide variety of problems, although I haven't yet tested the accuracy of these tools. Unfortunately, Mythril and Myythx don

[2019-09-26 02:14] xf97 commented on #369
Hello, I would like to know about the impact of money_concurrency. I haven't found any information about it in other documents. Could you tell me why this situation is a bug (in my opinion, it seems reasonable for different execution processes to return different money)? I hope you can answer my question.

[2019-11-07 03:56] enderphan94 commented on #360
How could you downgrade the evm version? Thanks so much

[2019-11-19 05:39] enderphan94 opened #372 "IndexError: pop from empty list"
when I run the command of `python oyente.py -s contracts/main.sol`, it returns the pop error

[code]

[2019-11-19 07:52] enderphan94 commented on #372
Solve the issue by just moving its file import to the same directory.

[2019-11-19 07:52] #372 closed

[2019-11-21 05:53] yz1019117968 opened #373 "How to output the result to a designate file"
Dear sir,
          Sorry to bother. As a freshman.
          But How to output the result to a designated file.

[2020-02-10 12:39] xizyj opened #376 "the paper link is 403 forbidden"
Dear sir,
the paper link is 403 forbidden.

[2020-03-24 18:12] yxliang01 commented on #373
You may use "shell redirect" to put all outputs into a designate file.
e.g. `oyente SOME_CONTRACT > path_to_output_file`

Closing as this is not related to Oyente.

[2020-03-24 18:12] #373 closed

[2020-03-24 18:22] #376 closed

[2020-03-24 18:23] yxliang01 commented on #376
@xizyj Thanks for reporting. This is now fixed.

[2020-03-24 18:27] yxliang01 commented on #334
Closing due to lack of activity. @MakingStuffs you may reopen if this is still relevant.

[2020-03-24 18:27] #334 closed

[2020-03-24 18:29] yxliang01 commented on #319
#320 has been merged. Is this issue still relevant? @vietlq

[2020-03-24 18:30] yxliang01 commented on #310
Since #320 has been merged, is this issue still relevant? @vietlq

[2020-03-24 18:34] yxliang01 commented on #365
@Maryam-Imani
sat_stats.json stores the json format of the content of variable `contract_sats`.
https://github.com/melonproject/oyente/blob/45f44e8397062e475020f3dddf6476d584c81574/misc_utils/generate-graphs.py#L202 specifies how this variable is built.

I think you might need to ask more concretely to give a more useful answer.

[2020-03-24 18:35] #364 closed

[2020-03-24 18:36] yxliang01 commented on #353
@goyalvartul Is this issue still relevant? If not, maybe can close.

[2020-03-24 18:37] yxliang01 commented on #353
CC: @oldgoubi

[2020-03-24 18:40] yxliang01 opened #382 "docker build issue"
The current `master` version of dockerfile can't be built.

[2020-03-24 18:55] yxliang01 commented on #342
@walterliang Is this issue still relevant? If not, maybe can be closed.

[2020-03-26 17:32] yxliang01 opened #383 "docker: multi-stage build"
use multi-stage build to improve docker build caching.

[2020-04-02 13:31] ayesha99 opened #384 "Z3 not available, Error while running smart contract for security analysis"
Hi,
I've installed Oyente,
Created virtual env,
installed web3, solc, ethereum, z3, docker

While running docker inside container to perform smart contract analysis,the following error occurs;
_**Error: Z3 is not available. Please install z3 from https://github.com/Z3Prover/z3.**_

Although, Z3 is installed. z3 --version command confirms the installation.
Z3 4.8.7 is installed.

[2020-04-02 16:18] yxliang01 commented on #384
@ayesha99  I think it might be that you didn't install the z3 python binding. Can you try to do `import z3` in your python environment?

[2020-04-02 16:21] yxliang01 commented on #384
If it works, then you might need to pull the latest code from this repo (I just merged #385), then paste the error messages here again.

[2020-04-02 16:48] ayesha99 commented on #384
yes i installed it using python bindings,
like this

python scripts/mk_make.py — python
cd build
make
sudo make install

[2020-04-02 17:37] ayesha99 commented on #384
yes it works when I import it in python.
How can i pull the code, when git is not installed in docker??

[2020-04-02 18:11] ayesha99 commented on #384
![image](https://user-images.githubusercontent.com/32382772/78283444-391bdd80-7537-11ea-8d3f-252ef8ef9ebd.png)

[2020-04-02 18:44] yxliang01 commented on #384
@ayesha99  Can you try `python -c 'import z3'` ?

[2020-04-02 18:45] yxliang01 commented on #384
Also, are you using docker image built from the Dockerfile or the official image mentioned in Readme? If not, maybe you would want to give them a try.

[2020-04-03 14:06] fang19911030 opened #386 "Container EVM Version Warning"
I tried oyente container, I found every report includes the warning about evm version like this:
**WARNING:root:You are using evm version 1.8.2. The supported version is 1.7.3**
I think I shouldn't get this warning because I am using the container. Second, I am wondering if this version issue will affect the analysis of oyente?

[2020-04-04 10:25] yxliang01 commented on #386
Hey, may I know which docker image you are using (i.e. whether using existing downloaded one, or you built yourself)? The version mismatch might lead to Oyente crash(changed interface), etc... It's hard to say without looking deeply into the updates between version.

[2020-04-04 11:08] ayesha99 commented on #384
I have installed docker using these commands
sudo apt install docker.io
after that,
sudo docker pull hrishioa/oyente
sudo docker run -i -t hrishioa/oyente

[2020-04-04 14:42] fang19911030 commented on #386
The image tag is latest. I used the command in the Readme.
`docker pull luongnguyen/oyente && docker run -i -t luongnguyen/oyente`

[2020-04-05 06:03] yxliang01 commented on #386
I see. Sorry that the image is actually outdated. I've scheduled to push to docker hub, but haven't managed to do so due to covid-19. For now, maybe you want to try building from the latest dockerfile if you would like to use supported evm, or install the supported evm manually in based on that image.

[2020-04-05 07:15] yxliang01 commented on #384
hmm the docker image you used is not official, so it would be hard to know what the setup issue is. For now, I suggest you build an image from the latest dockerfile. In case you encounter any problem, you can always file issues here and I'd be happy to help :)

[2020-04-08 02:19] molecula451 commented on #382
can't reproduce. You got any snapshot? I built current <code>master</code> w/o any trouble few days ago

[2020-04-08 08:00] yxliang01 commented on #382
Right. I remember I created this issue before merging the dockerfile fixing PRs. Closing now. Thanks @molecula451 for your input!

[2020-04-08 08:00] #382 closed

[2020-04-12 08:25] yxliang01 commented on #386
@fang19911030 Do you still have the issue? If not, maybe we can close this issue.

[2020-04-13 09:40] yxliang01 opened #387 "docker: make building of web component optional"
From the feedbacks, looks like most users use the CLI of Oyente, instead of the web interface. Should make the web component optional in dockerfile.

[2020-04-18 14:03] #386 closed

[2020-04-28 08:50] anhdungle93 opened #388 "Error while building image from dockerfile"
Hi, first I tried to run docker with the image from README.md file but got error with solc and evm version. I then noticed that this issue has been solved and updated in the dockerfile but still not reflected in the docker image, so I decided to build the image from dockerfile myself, but I got the following error.

[code]

[2020-04-28 09:32] yxliang01 commented on #388
Hi @anhdungle93 , may I quickly know whether you need the Web UI for Oyente? Or is CLI sufficient?

[2020-04-28 09:42] anhdungle93 commented on #388
Hi, @yxliang01 just CLI is enough, thanks.

[2020-04-28 09:46] yxliang01 commented on #388
@anhdungle93  I see. I will look into it later. Potentially, I can do #387 to skip this bug for now. TBH, I feel the Web component might be ok to be deprecated since I haven't really seen people using it and maintaining it looks quite some efforts required.

[2020-04-30 08:14] yxliang01 commented on #388
@anhdungle93 I have follow this up in #389 .

[2020-04-30 08:21] yxliang01 commented on #360
@enderphan94 : you can downgrade the evm version by installing an old version of `evm`, or you can just build oyente from the latest version of dockerfile which has the right version of `solc` and `evm` configured.

@matYang : If you can file an issue with the reproducing information, I can look into it.

Closing this issue as the problem has been resolved.

[2020-04-30 08:21] #360 closed

[2020-05-05 05:55] JackHFeng opened #390 "Usage question"
Hello, may I ask a few quick questions about the usage of Oyente?
1. Does Oyente provide edge coverage? If not by default, is there any way we can get the edge coverage by adding a few lines of statements into Oyente to get it?
2. Does the original version Docker image of Oyente presented in the paper provide any type of code or branch coverage?
3. Is the code coverage computed by dividing the num

[2020-05-06 14:53] lukwue opened #391 "Solidity compilation failed"
Hello,

Oyente can't compile Solidity code even though it is the same file as in Oyentes README.

[code]
Somehow, Oyente also doesn't seem to recognize the right Z3 version (even though it is installed). Could this have something to do with the compile error?
[code]

[2020-05-06 15:04] #388 closed

[2020-05-06 15:07] yxliang01 commented on #390
1. I have answered you privately previously. Supporting it won't be difficult and such PR would be welcome!
2. As I didn't construct the paper version image, you might have to run it yourself and see the output. In any case, I would suggest you to use the latest version which has been improved a lot unless you are a very specific reason.
3. yes
4. I'm unsure about this. While I would like to confi

[2020-05-06 15:08] yxliang01 commented on #391
I'm a bit confused. From the log, it looks like it is the contract that failed to compile, instead of problem of z3?

[2020-05-06 15:09] #387 closed

[2020-05-06 15:11] yxliang01 commented on #388
@anhdungle93 FYI, from the conversion with you in #389, I think there is no issue in building the WEB component. It was a problem with your previous setup.

[2020-05-06 15:14] JackHFeng commented on #390
@yxliang01 Thank you so much! My questions are perfectly answered! Thank you so actively maintaining this tool and helping the community!

[2020-05-06 15:14] #390 closed

[2020-05-06 15:35] lukwue commented on #391
Sorry, yes the problem is it can't compile Solidity code. I thought it might have something to do with the mysterious fact that it can't recognize the correct Z3 version.

[2020-05-06 15:53] yxliang01 commented on #391
@lukwue can you try to see whether there's syntax error in your contract or Solidity version mismatch? If it's not an issue of Oyente, we can close this.

[2020-05-06 20:45] lukwue commented on #391
I used the URL from one of the examples in the Oyente readme file so the contract should be correct.

[2020-05-06 20:56] yxliang01 commented on #391
I realized that you are not using the officially supported `solc` version. Would you like to use the supported version instead? Or, do you want to convert this to a feature request to support `solc` 0.6?

[2020-05-07 07:53] lukwue commented on #391
Ok, thank you very much.
I also needed to use the supported `evm ` version.
It is really confusing though that the instructions in the README-file install evm and solc versions which are not supported. Do you think I should file a request for a change of the README-files?
Btw: When I compile a solidity file to evm byte code with the newest evm version and then test the byte code with Oyente, shoul

[2020-05-07 09:01] yxliang01 commented on #391
It's true that the instruction would lead to installation of the latest version. A PR to improve the clarity would be welcome!

For new evm version, I think the best way is to try and error. In case of any problem, we can always create an issue to discuss and fix.

[2020-05-07 12:02] lukwue commented on #391
Ok, thank you.

[2020-05-07 12:02] #391 closed

[2020-05-11 07:50] mstad opened #393 "Latest solidity support"
Hi,
is the last solidity supported 0.4.24? (I tried to compile contract using 0.5.x release and I receive an error). Is there a way to overcome these limitations?

[2020-05-11 08:15] yxliang01 commented on #393
Hi @mstad , the latest official supported version is indeed 0.4 . It would be great if you can post 1. the minimum contract written in Solidity 0.5 that can't be run 2. the error you received here. Then, we can try to see how to overcome these.

[2020-05-11 16:43] mstad commented on #393
Hi yxliang01, as soon as I tried to analyze a contract (in the contract is specified the pragma >0.5.0 and the solc that I have installed is the 0.5.15 release) I receive the error of 'compilation failed'. Analyzing it with -ce option, I receive the comment that the last supported solc release is 0.4.19.
I try to use the prebuild docker container and to build a new one from Github. Have I to try s

[2020-05-11 16:55] yxliang01 commented on #393
No, the message of the officially supported version is not an error. Would be great if you can paste the contract and the full output log here.

[2020-05-11 20:07] mstad commented on #393
The output is
-----------------------------------------------------
WARNING:root:You are using an untested version of z3. 4.5.1 is the officially tested version
WARNING:root:You are using evm version 1.9.9. The supported version is 1.7.3
WARNING:root:You are using solc version 0.5.15, The latest supported version is 0.4.19
CRITICAL:root:Warning: This is a pre-release compiler version, please do no

[2020-05-12 08:27] yxliang01 commented on #393
@mstad Would you like to
1. Build a new docker image from this master branch
2. Use the `-ce` flag to see the error messages
?

[2020-05-13 08:02] mstad commented on #393
Hi, sorry for the delay.
I build oyente docker container from the master branch as oyente.
Now, I am trying to using it sharing the directory in which I have some contract, but it retunr that it does not find any file. Where I made a (for sure stupid) mistake?
docker run -it -v /home/.../simple_contracts/:/share oyente /share/myContract.sol -ce
-------------------------------------------
CRITICAL:

[2020-05-13 08:17] yxliang01 commented on #393
Why is the supplied path in `docker run` command is different from the one in error message?

[2020-05-13 15:31] mstad commented on #393
The error message reports the path that in my intention was shared in the container... but it is not... in fact... and I would know why... In the pre-build docker version, it worked in this way (in the sense... it found the file and it did not compile it due to solc release)

[2020-05-13 15:37] yxliang01 commented on #393
@mstad I meant that the error message doesn't seem to correspond to the command you have pasted.

[2020-05-13 18:08] mstad commented on #393
@yxliang01 You are totally right, I put the wrong filename... Inserting the right command, I receive a
normal error related to constructor. I attach the command, the error and the file. Thanks so much.
-------------------------------------------------------------------
docker run -it -v /home/mirkostad/Programmi/perl/simple_contracts/:/share oyente -s /share/my.sol -ce

CRITICAL:root:/share/my.sol

[2020-05-13 18:19] yxliang01 commented on #393
@mstad I believe you are using the old `solc` 0.4.19 since it's the default version specified in the dockerfile. Therefore, it makes sense that it doesn't recognize the `constructor` keyword (added in 0.4.23) .

Would you like to simply try to use the latest 0.5 solc and see whether it works? A quick way is that you add `--build-arg SOLC_VERSION=0.5.17` to the `docker build` command, and it might

[2020-05-13 19:45] mstad commented on #393
@yxliang01 I'll try to rebuild it now and I let you know asap. You are right for the formatting...

[2020-05-14 04:56] mstad commented on #393
Hi, I tries to build the docker from master using:
$ docker build --build-arg SOLC_VERSION=0.5.15 -t oyente .
Then I launched Oyente  and this is the output:
$ docker run -it -v /home/mirkostad/Programmi/perl/simple_contracts/:/share oyente -s /share/my.sol -ce
WARNING:root:You are using solc version 0.5.15, The latest supported version is 0.4.19
CRITICAL:root:
CRITICAL:root:Solidity compilation f

[2020-05-14 08:09] yxliang01 commented on #393
@mstad  Looks like the error might be in the stdout. I have just added stdout output of solc when compilation failed. Could you pull the latest master and build again, then run in the same manner?

[2020-05-14 09:43] mstad commented on #393
@yxliang01 I'll do it now.

[2020-05-14 10:48] mstad commented on #393
Hi, i'll tried and I received this output:
docker run -it -v /home/mirkostad/Programmi/perl/simple_contracts/:/share oyente -s /share/my.sol -ce
WARNING:root:You are using solc version 0.5.15, The latest supported version is 0.4.19
CRITICAL:root:solc output:

======= /share/my.sol:MyContract =======
Binary of the runtime part:
608060405234801561001057600080fd5b506004361061002b5760003560e01c80639e1

[2020-05-14 16:47] yxliang01 commented on #393
@mstad the compilation succeeded, this means that it is the logic to extract the binary code is not supporting the new solc. Would you like to try branch `fix-new-solc` and see whether it works?

[2020-05-15 18:15] mstad commented on #393
@yxliang01 Yes, I would try to do it.

[2020-05-16 22:11] mstad commented on #393
@yxliang01 I build the container from fix-new-solc branch:
$ docker build --build-arg SOLC_VERSION=0.5.15 -t oyente .
I receive the following output:
docker run -it -v /home/mirkostad/Programmi/smart-contracts/Original/:/share oyente_mod:latest -s /share/0x1c_fixed.sol -ce
WARNING:root:You are using solc version 0.5.15, The latest supported version is 0.4.19
incomplete push instruction at 134
inco

[2020-05-17 07:46] yxliang01 opened #394 "chore: deprecating python2 support"
Python2 support should be deprecated now. We should slowly remove the dependency on "six".

[2020-05-17 07:48] yxliang01 commented on #393
@mstad Thanks again for testing. Looks like the previous patch fixed the compilation result passing problem which means we have made one step forward! According to this error message, I have just pushed new patch to branch `fix-new-solc`, would you like to try it again with this contract?

[2020-05-17 07:49] yxliang01 commented on #332
Since #336 is now merged and no new update from @alex-murashkin , closing this issue.

[2020-05-17 07:49] #332 closed

[2020-05-18 09:20] mstad commented on #393
@yxliang01 Hi,i tried to use the fix-new-solc branch. I build the new container and tried the same contract. The analysis is not complete, but the output is slighlty different than before:
docker run -it -v /home/mirkostad/Programmi/smart-contracts/Original/:/share oyente_mod:latest -s /share/0x1c_fixed.sol -ce
WARNING:root:You are using solc version 0.5.15, The latest supported version is 0.4.19

[2020-05-18 09:28] yxliang01 commented on #393
@mstad  This means we moved one step again! I've made a new commit to print more information message for addressing this issue.

[2020-05-18 09:33] yxliang01 opened #395 "ci: build docker image"
The Travis CI should try to build the docker image and use it for testing. So that, the dockerfile and oyente itself can be tested concurrently.

[2020-05-18 09:34] yxliang01 opened #396 "ci: test for multiple solc versions"
Use Travis build matrix to implement testing against different solc version. This should be done after #395 , so that the solc version can be switched using the docker build-time argument `SOLC_VERSION`.

[2020-05-18 10:41] mstad commented on #393
@yxliang01 Hi, i put here the new error message from the same file.
docker run -it -v /home/mirkostad/Programmi/smart-contracts/Original/:/share oyente_mod:latest -s /share/0x1c_fixed.sol -ce
WARNING:root:You are using solc version 0.5.15, The latest supported version is 0.4.19
incomplete push instruction at 134
incomplete push instruction at 1318
incomplete push instruction at 60
INFO:root:contra

[2020-05-20 10:44] mstad commented on #393
@yxliang01 Hi, do you have some news about it?

[2020-05-20 17:18] yxliang01 commented on #393
Hi @mstad , I think I need more information. Can you run with `--verbose` option?

[2020-05-20 18:57] mstad commented on #393
Hi, this are results with --verbose option; the file is attached.
docker run -it -v /home/mirkostad/Programmi/smart-contracts/Original/:/share oyente_mod:latest -s /share/0x1c_fixed.sol --verbose
WARNING:root:You are using solc version 0.5.15, The latest supported version is 0.4.19
incomplete push instruction at 134
incomplete push instruction at 1318
incomplete push instruction at 60
INFO:root:co

[2020-05-20 19:22] yxliang01 commented on #393
@mstad Thanks again.

So, I think this exposes the following issues:
1. your contract has opcode that is unsupported
2. evm version too low to understand the opcode
3. (potentially) parsing of new evm might be unsupported

To address them, we need to first try to build the image with `--build-arg=ETHEREUM_VERSION=alltools-v1.9.14`, then inspect the log.

[2020-05-20 20:45] mstad commented on #393
@yxliang01 Hi build the branch with the following options:
docker build --build-arg SOLC_VERSION=0.5.15 --build-arg=ETHEREUM_VERSION=alltools-v1.9.14 -t oyente .
If this is correct... I have the following results (something seems changed)
docker run -it -v /home/mirkostad/Programmi/smart-contracts/Original/:/share oyente:latest -s /share/0x1c_fixed.sol --verbose
WARNING:root:You are using evm vers

[2020-05-21 12:51] yxliang01 commented on #393
@mstad Looks like the output format of `evm` indeed changed from 1.7.3 . I might need to dig into some documentation etc to understand the changes in format.

[2020-05-23 22:58] Qiana0223 opened #397 "how to target a specified contract in a solidity file"
Hi developer!

I have simple question. Suppose I want to analyze one target contract in a solidity file which contains multiple contracts, what command I should provide, or to be specific what flag I should include?

I do appreciate your help!

[2020-05-24 08:55] yxliang01 commented on #397
Hi @Qiana0223 , currently this master branch code doesn't have such functionality. I have implemented back then, but it's not merged to this codebase. If you wish, I can try to port it over here in next few days. However, as I don't have an environment to allow me to test, I will need your help on the testing if I do so. Alternatively, we can wait until I have got an environment, but it might take

[2020-05-26 05:07] Qiana0223 commented on #397
Would you please port it in one or two days? I will definitely help on testing. Thanks!

[2020-05-26 07:51] yxliang01 commented on #397
I'm busy there two days. I will try to get to it on Thur. @Qiana0223

[2020-05-26 21:30] Qiana0223 commented on #397
ok, thank you!

[2020-05-28 10:18] yxliang01 commented on #397
@Qiana0223 PR #398 has been made to add this missing feature.

[2020-05-28 21:50] Qiana0223 commented on #397
Hi @yxliang01
I have tested it with 10 files.
Here, I show one example: HoloToken.sol, which has two contracts.
**python oyente.py -s HoloToken.sol**
![image](https://user-images.githubusercontent.com/32651102/83197186-b52f3d80-a102-11ea-9610-84f5248c0f05.png)

**python oyente.py --target-contracts HoloToken HoloToken.sol**
![image](https://user-images.githubusercontent.com/32651102/83197215-c2e4c

[2020-05-29 06:48] #397 closed

[2020-05-29 07:55] yxliang01 commented on #397
@Qiana0223 Thank you for testing! If you have any further issues, please let me know!

[2020-05-30 14:13] Qiana0223 commented on #397
Thank you!

[2020-05-31 12:23] letbecool opened #399 "Constructor not supported"
**Solidity code**
[code]

**Testing using Oyente :**
root@8b701a5ef883:/oyente/oyente# python oyente.py -ru https://gist.githubusercontent.com/letbecool/fc3f166f86893146ebc365e83a265455/raw/3cdc2e2bd86205ebd8ea126a662d2efb2be2e4a8/oyenteconstructor.sol -ce
**Result :**
[code]

[2020-06-02 08:32] mstad commented on #393
Hi @yxliang01, anything new?

[2020-06-07 13:03] yxliang01 commented on #399
@letbecool This is because you are using old version of `solc` that doesn't support this constructor syntax. Please try updating your `solc` to say 0.4.24. If you encounter new problems, please let me know.

[2020-06-07 18:29] yxliang01 commented on #384
@ayesha99 Do you still have the problem? If not, maybe we can close this issue.

[2020-06-07 19:09] yxliang01 commented on #393
Hi @mstad , to effectively address the problem we encountered last time, I think I would need to run python debugger to debug it iteratively. However, I don't have setup at the moment and it might take quite some time for me to finally get it.

For now, I have a suggestion that maybe we can try to address this step by step.

Test the following combinations of versions:
1. SOLC_VERSION=0.4.24, ETHE

[2020-06-08 10:52] mstad commented on #393
Hi @yxliang01, I'll do the tests and I'll send you asap a report.

[2020-06-09 15:08] mstad commented on #393
Hi, let me know if I have well understood; I have compiled with:
$ docker build --build-arg SOLC_VERSION=0.4.24 --build-arg=ETHEREUM_VERSION=alltools-v1.7.3 -t oyente .
Obviously, processing the 0x1c.sol file, that uses sol 0.5.15, we have the following results:
$ docker run -it -v /home/mirkostad/Programmi/smart-contracts/Original/:/share oyente:latest -s /share/0x1c_fixed.sol -ce

WARNING:root:Y

[2020-06-09 19:22] yxliang01 commented on #393
@mstad  This is a valid compilation error since `address payable` type is introduced in 0.5.0 while you were using 0.4.24 .

[2020-06-09 19:24] yxliang01 commented on #393
What we are interested here is whether Oyente can now support solc newer than 0.4.19 in the new `fix-new-solc` branch. So, the test Solidity file should be written in manner supported by the corresponding version under testing.

[2020-06-09 21:37] mstad commented on #393
@yxliang01 You mean between 0.4.19 and 0.4.24?

[2020-06-15 11:07] mstad commented on #393
@yxliang01
[0x1c_fixed_04_24.sol.txt](https://github.com/melonproject/oyente/files/4779802/0x1c_fixed_04_24.sol.txt)
[firstResult.txt](https://github.com/melonproject/oyente/files/4779806/firstResult.txt)

First test:
$ docker build --build-arg SOLC_VERSION=0.4.24 --build-arg=ETHEREUM_VERSION=alltools-v1.7.3 -t oyente .
$ docker run -it -v /home/mirkostad/Programmi/smart-contracts/Oyente_modified/

[2020-06-15 12:08] mstad commented on #393
@yxliang01
Second test:
$ docker build --build-arg SOLC_VERSION=0.4.19 --build-arg=ETHEREUM_VERSION=alltools-v1.8.0 -t oyente2 .
docker run -it -v /home/mirkostad/Programmi/smart-contracts/Oyente_modified/:/share oyente:latest -s /share/0x1c_fixed_04_19.sol -ce >> secondResult.txt

0x1c_fixed_04_19.sol  and secondResult.txt as attachment-> ok
[secondResult.txt](https://github.com/melonproject/oyen

[2020-06-15 13:09] mstad commented on #393
@yxliang01
Third test-> Nok
$ docker build --build-arg SOLC_VERSION=0.4.19 --build-arg=ETHEREUM_VERSION=alltools-v1.8.27 -t oyente3 .
$ docker run -it -v /home/mirkostad/Programmi/smart-contracts/Oyente_modified/:/share oyente3:latest -s /share/0x1c_fixed_04_19.sol -ce >> thirdResult.txt
thirdResilts as attachment-> Nok
[thirdResult.txt](https://github.com/melonproject/oyente/files/4780389/thirdRe

[2020-06-16 19:01] yxliang01 commented on #393
@mstad Nice! Looks like we can set the latest officially supported solc version to 0.4.24 after merging the branch `fix-new-solc` to master (will do in few days after reviewing carefully). The newer evm is however unsupported.

To better understand the supported solc versions, would you like to also try solc > 0.4.24 to figure out the exact latest supported solc version?

By the way, just a small

[2020-06-16 21:25] mstad commented on #393
@yxliang01 Yes, I really would try. Tomorrow I use some other further version with evm both with 1.7.3 and 1.8.0 and we will see what happens. My impression is that the direct compatibility stops at 0.4.24 release but... only tests can speak definitively about it. If, in some way, it works with 0.5.0, my problems are solved. And.... yes, I insert code directly to help other users.

[2020-06-23 04:44] mstad commented on #393
@yxliang01 I try to do the following
$ docker build --build-arg SOLC_VERSION=0.5.0 --build-arg=ETHEREUM_VERSION=alltools-v1.8.0 -t oyente5 .
$ docker run -it -v /home/mirkostad/Programmi/smart-contracts/Oyente_modified/:/share oyente5:latest -s /share/0x1c_fixed_0_5_0.sol -ce
WARNING:root:You are using evm version 1.8.0. The supported version is 1.7.3
WARNING:root:You are using solc version 0.5.0,

[2020-06-23 16:35] #310 closed

[2020-06-23 16:35] vietlq commented on #310
This can be closed

[2020-06-24 19:47] yxliang01 commented on #399
Closing due to inactivity. @letbecool you can reopen if the error persists.

[2020-06-24 19:47] #399 closed

[2020-06-24 19:48] yxliang01 commented on #384
Closing due to inactivity. @ayesha99 you can reopen if error persists.

[2020-06-24 19:48] #384 closed

[2020-06-24 19:57] yxliang01 commented on #393
Hi @mstad , supporting 0.5.x is definitely doable if not already supported. The second error is expected since the pragma specifies that only solc 0.4.19 can be used. What's interesting is the first error for which can potentially help us identify the problem. However, from your comment, it looks like solc didn't have any output nor error message. Would you like to execute `solc` in a `oyente5` co

[2020-06-25 09:29] mstad commented on #393
Hi @yxliang01... How can I enter in the container without running oyente application?

[2020-06-25 14:16] yxliang01 commented on #393
You can use `--entrypoint=/bin/bash` option, need to use it before the image name `oyente5`

[2020-06-25 16:23] mstad commented on #393
@yxliang01
This is the output in the docker container:
root@b1e2b8cd763f:/oyente/oyente# python oyente.py -s /share/0x1c_fixed_0_5_0.sol
WARNING:root:You are using evm version 1.8.0. The supported version is 1.7.3
WARNING:root:You are using solc version 0.5.0, The latest supported version is 0.4.19
CRITICAL:root:Solidity compilation failed. Please use -ce flag to see the detail.
root@b1e2b8cd763f:

[2020-06-25 16:34] mstad commented on #393
@yxliang01
A very important news...!
I found a contract (0x37.sol, written in 0.5.0) that works; 0x1c...not. Which could be the reason? How can I help you to find the cause?
[0x37.txt](https://github.com/melonproject/oyente/files/4832608/0x37.txt)
[0x1c_fixed_0_5_0.txt](https://github.com/melonproject/oyente/files/4832611/0x1c_fixed_0_5_0.txt)

[2020-06-26 12:07] mstad commented on #393
@yxliang01
The problem with python oyente.py -s /share/0x1c_fixed_0_5_0.sol was that the file has the pragma ^0.5.0 intead having pragma >=0.5.0; this error was not visualized as otuput.
Processing, into the docker container, some 0.5.x files, I was able to process without error 13 files  of 15. As attachment the files; following the results:
--- > 0x3.sol
root@0e4cf47b6370:/oyente/oyente# python

[2020-07-03 06:04] renardbebe opened #402 "Question about some absurd reported cases"
When I use Oyente to check the following contract, it has reported some integer overflow warnings in _s[2]_ and _s[3]_.
`
contract Benchmark {

    uint128[] private s;

    function init() public {
        s.length = 4;
        s[0] = 0xAA;
        s[1] = 0xBB;
        s[2] = 0xCC;
        s[3] = 0xDD;
    }
}
`
Maybe someone could help me to understand, why and how Oyente reports these issues?
A

[2020-07-03 17:54] yxliang01 commented on #393
@mstad
Given your results, I think it is fair to say that the branch `fix-new-solc` supports solc up to 0.5.0

Regarding the two errors you have encountered, I need to see the `solc` output on 0x3.sol to know what happened. For 0xdb.sol, I believe it is a bug or version incompatibility in the contract source code itself.

I think you can try alltools-v1.8.1 first, then slowly raise the version (e.

[2020-07-03 18:00] yxliang01 commented on #402
@renardbebe Could you paste the Oyente terminal output here as code block?

[2020-07-06 06:03] renardbebe commented on #402
[code]

@yxliang01 Here is the Oyente terminal output. I am wondering why it reports the warning in s[2] and s[3], and if the ADD operation involved in the calculation of array offset caused the false alarm, why s[0] and s[1] is assumed to be safe?
I would appreciate it if I could understand the cause of this problem with your help!

[2020-07-09 15:43] yxliang01 commented on #402
I think it might be a bug. I couldn't really see how integer overflow can happen here. Could you try using the officially supported versions of solc and evm and see whether it reports the same thing? From there, we can investigate more deeply.

[2020-07-18 08:32] mstad commented on #393
@yxliang01 Sorry for the delay. I am intending to do it
Anyway, in some tests, it seems really that building with solc=0.5.0 option and tools=1.8.0 there are no problems at all.
I tried also with solc=0.5.4 and alltools=1.8.0 and I found that all worked, but I tested only some cases.
Anyway, I will report to you my results when I can newly try on it.

[2020-07-30 04:01] fCorleone opened #403 "Question about the sym_exec_ins function in the file 'SymExec.py'"
I'm trying to find out the details of analyzing process of oyente tool. But I'm a little confused when I encountered with the following code at line 1893 in file 'SymExec.py' in function sym_exec_ins:
![image](https://user-images.githubusercontent.com/22519865/88879110-07ecb900-d25c-11ea-9a61-a8066761c422.png)
My question is: when the opcode is 'CALL', why the function returns if the transfer_amou

[2020-09-02 16:49] Mayur1496 commented on #393
@yxliang01
Latest Solidity version supported : 0.5.4
Latest evm version supported : 1.8.16
Tested on :
- [Contract.sol](https://gist.github.com/Mayur1496/4d54c483997c2f3703dc9cb1f1ff0030)

Output :
- [output](https://gist.github.com/Mayur1496/f861f151486e2172c7156836ab146a9a)

[2020-09-02 18:19] mstad commented on #393
@Mayur1496 do you use the fix-new-solc branch?
The way to build the docker that you used is:
docker build --build-arg SOLC_VERSION=0.5.4 --build-arg=ETHEREUM_VERSION=alltools-v1.8.16 -t oyente ?

[2020-09-02 18:39] Mayur1496 commented on #393
@mstad
I used the [Full Installation](https://github.com/melonproject/oyente#full-installation) method on fix-new-solc branch.
The docker build command that you mentioned seems correct to me :)

[2020-09-04 06:09] yxliang01 commented on #279
@enderphan94 Can you file new issues? This issue is quite outdated now.

[2020-09-04 07:17] yxliang01 opened #408 "chore: more robust logging"
Oyente has been using the root logger of the logging library. This can be problematic when using external libraries that also use the logging library.

We should create the corresponding logger instances for each file instead.

[2020-10-10 03:20] Mikerah opened #411 "Update to Python 3"
I noticed while trying to install oyente that it only seems to work for Python 2 which has been deprecated for a few years. Would it be possible to update the code for oyente to work in a Python 3 environment?

[2020-10-10 18:09] yxliang01 commented on #411
The master branch Oyente can run under Python 3 without issue. Although you can see Python 2 syntax, but they are translated when running under Python 3. Can you paste the exact installation steps and error message you saw? I recommend you to build a docker image that is the easiest way to get Oyente working.

[2020-10-15 06:48] taylorgag commented on #393
sorry to bother you ,but how to build oyente docker container from the master branch as oyente?

[2020-10-15 09:15] yxliang01 commented on #393
@taylorgag You use use the command `docker built -t oyente .` under the Oyente root directory. If you have further issues/questions, please open a new issue (instead of replying to this issue as this is considered off-topic).

[2020-11-16 12:50] eerkaijun commented on #411
@yxliang01 I've also encountered this error. When I `pip install oyente`, there's this error code:
[code]

[2020-11-16 16:56] yxliang01 commented on #411
The version on Pypi (installed by pip) is very outdated. You should install from this GitHub Repo and it has been working fine for me and my team members.

[2020-11-21 11:12] eerkaijun opened #412 "Solidity 0.6.x"
Hi, just wondering if there is any plan to support solidity 0.6.x? I received a compilation fail as the solidity compiler seems to remain at 0.4.19

[code]

[2020-11-30 08:18] strawberrylady99 commented on #411
I hava the same problem,how can I solve it

[2020-12-07 00:22] fang19911030 opened #413 "Option -r has issues"
I used the docker to start oyente

When I tried the command: python oyente.py -s xxx.sol -r, there are some errors reported.

[code]

[2020-12-15 02:12] wuhongjun15 commented on #411
I can't install web3 by using python2, but the other dependencies need python2 rather than python3. What should I do?

[2021-01-05 07:11] anupam-io opened #414 "Having trouble with newest verions solc:0.8.0 as `solc` is now `solcjs`"
I installed the docker container and build it.
I transferred my `Contract.sol` file into the directory.

But the `docker` container is configured with an older version with the command `solc`.

In the latest revisions, `solc` is now `solcjs` in the terminal.

How to resolve this?

[2021-03-09 02:32] coderlrj opened #416 "Reentrancy detection machanism"
How can we figure out the cause the contract is detected with the reentracny bug?Out of gas or condition still hold?

[2021-04-26 12:45] montyly opened #417 "Upcoming changes in CryticCompile"
Hi,

We are about to change `CryticCompile` to add the support for multiple compilation units (https://github.com/crytic/crytic-compile/pull/167). The reason is that it's a feature that we are seeing more and more in hardhat projects.

As a result, this will not work with the next crytic-compile release:
https://github.com/enzymefinance/oyente/blob/69dc0a905d37ae27e9055ccae930e30752b398fb/oyente/i

[2021-05-06 09:29] oyedam opened #418 "Nurses"

[2021-05-13 09:01] Troublor commented on #411
@yxliang01 When installing from this Repo under python 3.7, the installation works fine, but running oyente shows the following error:
[code]

[2021-06-13 23:46] omarandres2803 commented on #361
@TlxTejaswi  Did you get any answer from  the project members ?
I'm considering using this tool but it seems to me documentation is not so clear and I'm not sure the project is maintained.

[2021-10-28 02:34] simin98 opened #426 "How to use the oyente to batch test smart contracts？"
i have a number of different versions of  smart contracts,and i want to use the oyente to detect them.
but using solc-select to switch the solc version one by one  is inefficient. Most results are like this
![image](https://user-images.githubusercontent.com/83910332/139176257-4b9d84c6-f102-4e94-8230-5fbc14f85a4e.png)
So how can i do?

[2021-12-16 08:08] 161424 opened #427 "docker"
in docker hub i cann't running the more types oyente.How to build a new running

[2021-12-29 14:53] #427 closed, assigned to nobody

[2021-12-29 14:55] 161424 commented on #426
有结果了吗？

[2022-01-04 12:29] rjx18 opened #428 "First or second argument must be a Z3 bit-vector expression"
Hello, I am testing Oyente with the Ballot contract found [here](https://docs.soliditylang.org/en/latest/solidity-by-example.html).

However, it seems that the symbolic execution engine inserts a symbolic expression for CALLDATALOAD, which then cannot be
shifted using SHR, resulting in a symbolic expression shr(224,Id_1) to be added to the stack. Then, when we apply the GT instruction, it throws a

[2022-01-04 13:13] rjx18 commented on #428
Closing because this is not actually related to Oyente itself, but rather EthIR, a tool based on it. The fix was to cast the symbolic expression shr(...) as a BitVecVal.

[2022-01-04 13:13] #428 closed, assigned to nobody

[2022-01-12 11:23] Ajeeshb opened #429 "ModuleNotFoundError: No module named 'crytic_compile'"
While starting the docker container i am getting the below error.

[code]

[2022-01-20 13:53] soulmachine opened #430 "Any plan to support solc 0.8.x"
From this line https://github.com/enzymefinance/oyente/blob/69dc0a905d37ae27e9055ccae930e30752b398fb/oyente/oyente.py#L63  we can see that the latest supported solc version is 0.4.19, and `ast_walker.py` apparently doesn't support the AST structure generated by solc 0.8.x.

Is there any plan to support solc 0.8.x? Thanks

[2022-01-21 08:25] yagol2020 commented on #429
you may need to install [crytic-compile](https://github.com/crytic/crytic-compile) in docker container

[2022-01-25 21:50] mrx23dot commented on #430
+1 for arbitary solc version.
solcx python module takes care delivering any version.

[2022-01-26 11:06] hansholani opened #432 "Bugs"
What are the bugs that are not identifies by oyente yet?

[2022-01-26 11:08] hansholani commented on #432
Or which bugs can Oyente identify? I think this would be easier to answer

[2022-01-26 13:29] mrx23dot commented on #411
The bottleneck is z3 dependence on python2,
use docker

[2022-01-26 22:24] mrx23dot opened #433 "Bad return value"
Running
`python /oyente/oyente/oyente.py --compilation-error  -s /home/test.txt -b`
[test.txt](https://github.com/enzymefinance/oyente/files/7946039/test.txt)

gives return value of 1 not 0, but result is valid:

[code]
echo $?

oyente version 0.2.7 - Commonwealth

[2022-01-30 03:06] chaitudapp opened #435 "Error: Expected identifier, got 'LParen'"
Error: Expected identifier, got 'LParen'
    constructor(address _strategist) ERC20("Nuggies AlcxVault", "nALCX") {

I get this error when using oyente from docker.

[2022-02-05 13:56] mrx23dot commented on #435
Oyente only supports old compiler solc 0.4.21.
try to save binary to file and run it like:
-s bin.txt -b

[2022-02-05 13:57] mrx23dot commented on #432
rtfm

[2022-02-05 14:21] mrx23dot opened #436 "Exception on binary contract"
Running latest Oyente on contract:
https://etherscan.io/address/0xae98b0e0c112b6d85ba32ff521b051f3fb2bafab#code
extracted binary via etherscan API:
[0xae98b0e0c112b6d85ba32ff521b051f3fb2bafab.txt](https://github.com/enzymefinance/oyente/files/8008155/0xae98b0e0c112b6d85ba32ff521b051f3fb2bafab.txt)

Many other contracts pass this way.

cmd
`docker start oyente_cont && docker exec -i oyente_cont pyt

[2022-02-05 14:26] mrx23dot opened #437 "UNKNOWN INSTRUCTION: SHL"
Running latest Oyente on contract:
https://etherscan.io/address/0xe681f80966a8b1ffadecf8068bd6f99034791c95#code
extracted binary via etherscan API:
[0xe681f80966a8b1ffadecf8068bd6f99034791c95.txt](https://github.com/enzymefinance/oyente/files/8008177/0xe681f80966a8b1ffadecf8068bd6f99034791c95.txt)

Many other contracts pass this way.

cmd
`docker start oyente_cont && docker exec -i oyente_cont pyt

[2022-06-15 09:27] subhramazumdar commented on #258
Hi @luongnt95 I tried the method mentioned by you but it is till not working

[2022-07-15 12:55] gsalzer opened #445 "Why does Oyente report different results on virtually identical contracts?"
Consider the contracts
- [`VeniceCityToken.sol`@main:0xaaf80137ddba52d009c45b047c0e6eb312e25ddb](https://etherscan.io/address/0xaaf80137ddba52d009c45b047c0e6eb312e25ddb#code) and
- [`MetadollarCrw.sol`@main:0x0e32d4c9581ebffbdf5d920cc2252f379b88d562](https://etherscan.io/address/0x0e32d4c9581ebffbdf5d920cc2252f379b88d562#code).

The runtime codes of these two contracts, on Solidity as well as on b

[2022-07-15 13:23] gsalzer commented on #437
Oyente was designed before the fork `Byzantium` (block 7,280,000 on the main chain, 28 Feb 2019) that introduced the instruction `SHL`, and apparently has never been upgraded by the semantics of newer instructions. Oyente does not handle the operations `SHR`, `SAR`, `EXTCODEHASH`, `CHAINID`, `SELFBALANCE`, `BASEFEE` and `CREATE2` (same or later fork). Oyente even uses the opcode for `CREATE2` inte

[2022-07-15 13:29] gsalzer commented on #433
Oyente seems to return exit code `1` if a vulnerability is found, and `0` if none is detected. So the behavior you observe seems to be by design, not by error.

[2022-07-15 13:31] gsalzer commented on #432
See https://www.comp.nus.edu.sg/~prateeks/papers/Oyente.pdf

[2022-07-15 13:34] gsalzer commented on #426
Consider using [Smartbugs](https://github.com/smartbugs/smartbugs). This frameworks allows to run a bunch of contract analyzers, among them Oyente, and is also able to select the correct compiler version before calling the analyzer. Smartbugs was designed with mass tests in mind.

[2022-07-15 14:29] mrx23dot commented on #433
yeah, but if gcc would give non zero exit code on any warning none of the toolchains would work.

[2022-07-15 14:43] mrx23dot commented on #437
Thanks for the detailed answer!

[2022-07-15 14:43] #437 closed, assigned to nobody

[2022-09-28 07:10] qub1tt commented on #429
after i installed the package it has this error AttributeError: 'CryticCompile' object has no attribute 'contracts_names'.
Im using python 3.10.4.